[2014-09-16 18:03] ajt60gaibb opened #1166 "Bug in chebop2 display method"
There is a bug in chebop2/display caused by `f.values` now returning an array instead of a cell array.

[code]

[2014-09-21 14:10] #1166 closed, assigned to ajt60gaibb

[2014-09-22 11:42] nickhale opened #1171 "Avoid using FEVAL() in @CHEBTECH/GET(f, 'RVAL')."
It would be more efficient to simply sum the Chebyshev coefficients.

One could do something similar for `@chebtech/get(f, 'lval')`.

(Looking at profile reports from @hrothgar's v4-v5 comparisons (see #1130), often a lot of time was spent in `clenshaw_scl.m`. The fix suggested above might fix a lot of this.)

[2014-09-23 01:24] trefethen opened #1173 "question about CamelCase in `help` text of Chebfun files"
This is a general question, but I'll describe it by a specific example.  I wanted to print the norms of the iterates of a nonlinear ODE solution, so I did `help chebop/mldivide` to find out what to do.  There I read about a field `INFO.NORMDELTA` with the requisite information.

However, if you type `NORMDELTA` or `info.normdelta`, you get the error message

[code]

To make it work, you have to ty

[2014-09-26 18:21] asgeirbirkis opened #1176 "Dimension of derivatives"
Something seems to be broken in deciding what dimensions derivatives should have for coupled systems. Here are few examples:

**Example 1:**
[code]
But we should expect both blocks to be ```chebfuns```.

**Example 2:**
[code]
But we should expect both blocks to be ```chebfuns```.

**Example 3:**
[code]
This is actually correct.

**Example 4:**
[code]
Here, the (1,1) block should have been a ```che

[2014-09-29 15:22] Hadrien-Montanelli opened #1180 "Chebop2 display"
When typing `N = chebop2(@(u) diff(u,2,1) + diff(u,2,2))` would it be possible to print `diff(u,2,1) + diff(u,2,2)` in operator?
Moreover, should we print the rank of the operator too?

[2014-09-29 15:24] ajt60gaibb opened #1181 "Convert @(x,y,u) PDOs into @(u), if we can"
@Hadrien-Montanelli issue:

Should `chebop2` convert an PDO such as `@(x,y,u) laplacian(u)` into the form `@(u) laplacian(u)`?
(Once chebop2 knows the PDO has constant coefficients, things get much easier.)

@asgeirbirkis How do we do this robustly?

[2014-09-29 16:21] #1164 closed, assigned to ajt60gaibb

[2014-09-29 16:21] #1165 closed, assigned to ajt60gaibb

[2014-09-29 17:38] #1181 closed, assigned to ajt60gaibb

[2014-10-03 14:43] #1149 closed, assigned to kuanxu

[2014-10-03 15:12] mhsnjvd opened #1189 "linop/eigs needs a review"
The `filter` function in linop/eigs uses coefficients and since the coefficients have now been "reversed"  the code needs to be reviewed. At the moment, to make the code work, we are using a flipud() at line number 449 which can be removed.

[2014-10-03 15:12] #1126 closed, assigned to nobody

[2014-10-03 15:14] #1124 closed, assigned to nobody

[2014-10-03 15:15] #1180 closed, assigned to nobody

[2014-10-05 07:22] nickhale opened #1191 "Rewrite PDE15S to use coefficients rather than values?"
`pde15s()` typically struggles when presented with a problem with little or no diffusion (see #405). My suspicion is that the main cause of this is that the coefficient 'tail' used to determine happiness becomes polluted by noise which leads to intractably large discretisation lengths. It's possible that staying in coefficient space will help to alleviate this problem.

[2014-10-05 17:13] ajt60gaibb opened #1193 "ultraS is slow, but could be fast"
Totally frustrated by the `ultraS` situation.  Would it be possible for me to put my own `ultraS` implementation into Chebfun (so that `ultraS` deals with everything by itself)?   This way `ultraS` does not have to hand over control to `chebop`, so it could do its own coefficient orientated things.  (For instance, having control at the point of the linear solve would result in a massive speed up f

[2014-10-07 12:16] ajt60gaibb opened #1194 "Domain not respected in Chebfun2 nonadaptive calls"
When Chebfun2 is given a fixed rank, the domain is not always respected:

[code]

If the domain goes first, then the fixed rank is ignored:
[code]

[2014-10-07 17:42] hrothgar opened #1195 "quasimatrices with chebtechs & fourtechs"
I expected the following to work, but I got an error:

[code]

[2014-10-13 11:56] jaurentz opened #1200 "Problem with roots of Wilkinson polynomial"
When trying to compute roots of Wilkinson polynomial, p(z) = (z-20)(z-19)...(z-2)(z-1),  there is some strange behaviour.

[code]

The only difference between f and g is the scale of the coefficients. Why does one fail to find the correct roots and the other succeed?

[2014-10-13 18:17] aaustin141 opened #1201 "Bug in chebfun scalar multiplication?"
Let's build a chebfun for `f(x) = 1e16*x`:

[code]

The `vscale` looks right, but the `epslevel` does not.  Moreover, the values of `f` at the endpoints are way wrong:

[code]

This bug emerged while looking at the code sent to us last week by Danilo Jesus which works in v4 but not in v5.  I'm looking into it...

EDIT:  Note that this problem does not occur in `chebtech`:

[code]

[2014-10-14 07:32] nickhale opened #1202 "Scaling of CHEBTECH1 BARYWTS()"
The help text for `chebpts()` claims that

However, this is clearly not the case:

[code]

[2014-10-14 14:30] Hadrien-Montanelli opened #1205 "TRIGCOEFFS vs F.COEFFS"
Let f be a trigtech-based chebfun:

[code]

We can get the coefficients of f via

[code]

The command `trigcoeffs` gives

[code]

This is explained in line 126 of `chebfun/trigcoeffs`:

[code]

However, we didn't do this choice for a chebtech-based chebfun:

[code]

[2014-10-14 16:56] aaustin141 opened #1206 "Some operations with chebtechs do the wrong thing with epslevel."
Consider the following `chebtech`:

[code]

Note the `epslevel` of `2.22e-12`.  Now let's add `0` to it:

[code]

The `epslevel` has suddenly "improved" to `2.22e-16`, which can't be right.  The same thing would have happened if we added `1` or another constant to `f` instead.  `cumsum` has the same effect:

[code]

As another, more extreme example, consider the following:

[code]

This function g

[2014-10-14 16:57] bhashemi opened #1207 "isQuasi is not consistent or the QR command doesn't know how to create a quasimatrix !"
Consider the following code:

[code]

Here is the output:

[code]

As we expect the lengths of all the columns are the same (Page 22 in Battles' thesis). And the last three lines of the output suggest that the proper way of constructing a quasimatrix is to use the ''quasimatrix'' command and ''(['' after that.

Now, let's try the following commands:

[code]

Here is the output:

[code]

The length

[2014-10-15 13:30] hrothgar opened #1209 "parameter-dependent problems where parameter appears in a boundary condition"
I am having no luck trying to solve a parameter-dependent problem in which the parameter appears in the boundary condition. Is there a way to get it to work, or is this feature not supported? I see no reason why it shouldn’t work.
[code]
I get the following error:
[code]
Passing an initial guess with correct dimensions does not help:
[code]

[2014-10-15 13:33] rothos opened #1210 "easy way to remove deltas from a chebfun"
Currently there is no way for a user to remove deltas from a chebfun without diving deep into the class structure of the chebfun. There used to be a subroutine called something like `removeDeltas` which did so, but it was removed because it broke encapsulation. It turns out that there _is_ a clear way to write such a method in a way that does not break encapsulation. I think it should exist.

[2014-10-15 13:44] #1005 closed, assigned to nobody

[2014-10-15 13:50] #1018 closed, assigned to nobody

[2014-10-15 13:54] #1012 closed, assigned to nobody

[2014-10-17 13:12] nickhale opened #1214 "Overly aggressive tail chopping in CHEBTECH/TIMES()."
The following example demonstrates that we might sometimes be throwing away quite a lot of information in `chebtech/times()`. The image below was obtained by inserting calls to `coeffplot()` before and after the `simplify()` call in `chebtech/times()` and running the following code:
[code]

![times](https://cloud.githubusercontent.com/assets/2035010/4679219/29c6d31a-55ff-11e4-9b3e-57a4f21e1653.jpg

[2014-10-17 13:23] bhashemi opened #1215 "Multiplication of a matrix by a quasimatrix succeeds with mismatched dimensions!"
I tried to run the following illegal operation of multiplying a 3*3 matrix (on the right) by a quasimatrix of size Inf*3
[code]
and it does work ending up with an Inf*3 quasimatrix !
[code]

[2014-10-17 14:15] rothos opened #1216 "error when `spy`ing a chebop with a parameter"
This spy-plot looks fine:

[code]

![spy](https://cloud.githubusercontent.com/assets/913747/4680108/04ca6c44-5608-11e4-91c9-20508a299895.png)

But if I have a chebop with a parameter, `spy` breaks:

[code]

[code]

See also #803.

[2014-10-18 20:39] rothos opened #1218 "documentation for chebtest('--log') inconsistent with behavior"
The helptext of `chebtest` says

[code]

But what actually happens is that the log file is saved into the `logs` directory in the user’s Chebfun installation (which directory is created if it does not exist), _not_ the current directory.

I’m raising this as an issue so people can weigh in (if they care) on what the behavior _should_ be.

[2014-10-20 15:18] #1201 closed, assigned to aaustin141

[2014-10-20 16:11] kuanxu opened #1221 "Test failures with chebop2 when the first-kind points are used"
The following three tests currently fail on development when run after setting `chebfunpref.setDefaults('tech', @chebtech1)`:

[code]

Doing `git bisect` seems to suggest that the failures started to arise in commit  2adf1e40.

[2014-10-21 15:38] bhashemi opened #1223 "'trunc' or 'truncate' or both ?"
Hello. In v5 we can use the following command
[code]
to obtain a chebfun of length 7. However, it seems that in older versions, 'truncate' was used rather than 'trunc'. See e.g., Page 4 in the following .pdf file by Nick Hale:
http://www2.maths.ox.ac.uk/chebfun/examples/temp/pdf/Chebfun101.pdf

Well. This is not a big issue but if I run the following ''now illegal''-command in v5
[code]
I get a ch

[2014-10-21 16:48] #1206 closed, assigned to aaustin141

[2014-10-21 23:40] gradywright opened #1224 "Missing fourpts function causing issue in chebfun2 constructor"
Looks like one of the calls to `fourpts` did not get changed to `trigpts` when the trig2four change was made:

[code]

[2014-10-22 00:29] hrothgar opened #1226 "method to get a random chebfun"
Is there any demand for a method to get a random chebfun? I know that I have wanted such a thing in the past. A lot of time we take `sin(x)` or `exp(x)` when we just want any old chebfun. Suppose we had a function `rand` that overloaded MATLAB’s `rand` like this:
[code]
Of course, there is debate to be had about what “random” means for a chebfun. But definition of “random” aside, is there interest

[2014-10-22 13:08] #1224 closed, assigned to nobody

[2014-10-22 17:23] #1218 closed, assigned to nobody

[2014-10-22 17:24] #1202 closed, assigned to nobody

[2014-10-22 23:08] rothos opened #1230 "delta locations slightly shifted?"
Have I found a bug, or is this expected behavior?

[code]

[2014-10-22 23:13] #1230 closed, assigned to nobody

[2014-10-23 12:32] aaustin141 opened #1232 "chebfun2v.roots fails on a very easy (bivariate linear!) example."
The following two `chebfun2` objects have an isolated common root at (-1/4, 1/4), but the resultant-based bivariate rootfinding method doesn't seem to find it:

[code]

I've managed to track this down to [these lines](https://github.com/chebfun/chebfun/blob/347b601f132690f8b4541312240ebcb07ea6c409/%40chebfun2v/roots.m#L385-389) in `@chebfun2v/roots.m`.  It looks like they are thresholding away som

[2014-10-23 12:56] aaustin141 opened #1233 "chebfun2v.roots depends inappropriately on persistently-stored tech preference settings."
If I do

[code]

everything is fine.  If I now do

[code]

MATLAB sits and spins.  (Presumably, this will terminate eventually, possibly with an error message, but I sent it Ctrl+C after it sat there for 60 seconds.)

The reason is basically [this line](https://github.com/chebfun/chebfun/blob/347b601f132690f8b4541312240ebcb07ea6c409/%40chebfun2v/roots.m#L1346).  `chebfun2v.roots` should not be che

[2014-10-23 12:57] hrothgar opened #1234 "error when creating a chebmatrix using a vector of doubles"
When creating a chebmatrix, it is currently required that each scalar is inserted individually. There is no conceptual reason why concatenating with a vector shouldn’t work.
[code]

[2014-10-23 13:06] rothos opened #1235 "problem with length for @chebmatrix"
This must be wrong:

[code]

Especially since

[code]

I’m not sure if the problem is that `length` is being inherited from somewhere, because when I type `help chebmatrix/length` I get nothing.

[2014-10-24 16:38] ajt60gaibb opened #1239 "Equi option is broken for row vectors"
I did this by accident, but the following should return a quasimatrix of size `[-1,1]x10` with constant-valued columns:

[code]

[2014-10-27 18:46] #1200 closed, assigned to nobody

[2014-10-28 12:33] #1235 closed, assigned to nobody

[2014-10-29 08:23] nickhale opened #1243 "Including `sum()` in a `chebop` op definition."
I expected the following to work (it did in v4):

[code]

but I get the following:

[code]

I suspect the functional resulting from the `sum(u)` term needs to be promoted to an operator so it can be added to the `diff(.,2)` operator.

Edit: function --> functional

[2014-10-29 21:44] aaustin141 opened #1244 "Error in calling restrict() on a quasimatrix with columns which have a very nearly common breakpoint."
Suppose we have the following simple quasimatrix (i.e., a MATLAB array of chebfuns):

[code]

The following call to `restrict` does not work:

[code]

This crash occurs in spite of the fact that `domain(Q)` coincides with the restriction domain!

[code]

The reason this happens is basically a failure in `tweakDomain` to deal with the fact that the columns of `Q` very nearly have a breakpoint in co

[2014-10-30 18:23] #1061 closed, assigned to nobody

[2014-10-30 18:52] aaustin141 opened #1245 "trigtech may need a proper implementation of "extrapolate"."
The following construction involving `trigtech` fails:

[code]

In principle, this should succeed:  in floating-point, the factor of `x - 1` cancels the `pi*(x - 1 - eps^2)`, leaving us with `cos(pi*x)`.  This happens everywhere except at 1, where the input operator evaluates to exactly 0.  `trigtech` gets fooled into thinking that there's a discontinuity, and the construction collapses.

This was

[2014-10-31 11:01] #1210 closed, assigned to nobody

[2014-11-04 12:20] nickhale opened #1247 "Should `cumsummat()` have the same functionality as `diffmat()`?"

[2014-11-05 17:19] ajt60gaibb opened #1248 "Chebop2 and incompatibile boundary conditions"
What should chebop2 do in the following example?:

[code]

We used to print out an error message that the boundary conditions did not match at the corners. However, sometimes the boundary conditions only match at the four corners when the discretization is quite large...

[2014-11-05 17:22] ajt60gaibb opened #1249 "Chebfun2 can overestimate numerical degrees"
Chebfun2 can get the overestimate the numerical degree of a function.

For example,
[code]
That's odd, but much odder is that in the y direction,
where there is no variation at all, we get length 17 instead of 1:
[code]
This may have something to do with `epslevels` because chebfun2 relies on chebfun to reduce the length of the row and column slices.

[2014-11-05 17:24] ajt60gaibb opened #1250 "The @(u) notation and variable coefficients PDOS defined with chebfun2 objects"
Chebop2 does not work when you put a chebfun2 in the argument and
use the `@(u)` notation:

[code]

This has been an outstanding issue for a while because constant and variable
coefficient partial differential operators are treated differently.

[2014-11-06 10:53] nickhale opened #1253 "Problem with periodic BCs in `chebop2`."
Attempting to solve Laplace's equation in polar co-ordinates on an annulus I get the following:

[code]

![pollap1](https://cloud.githubusercontent.com/assets/2035010/4934561/cd3a4e84-65a2-11e4-8e01-c8dd51e9355c.jpg)

If instead of attempting to use periodic conditions in the theta variable I cheat and specify Dirichlet conditions from the known solution, then things look more reasonable:

![polla

[2014-11-06 11:04] rothos opened #1254 "Inaccurate roots for a simple chebfun2 example"
In the following example, the chebfun2 `f` is a cubic bivariate polynomial of rank 2. I compute its roots, a pair of disconnected curves. The roots should be smooth, but the computed curves are quite wiggly!

[code]

![2014-11-06-cubic-curves](https://cloud.githubusercontent.com/assets/913747/4934690/2ea6f536-65a4-11e4-9fe6-df5e8be47f71.png)

This problem is not ill-conditioned. Why aren’t the roo

[2014-11-06 14:20] ajt60gaibb opened #1255 "Closing chebgui from the MATLAB command line"
I am just about to demonstrate `chebgui` in my class this morning. It's working great. Especially the `export to .m` option.

A small annoyance.  Why does

[code]

not close `chebgui`? Is there a way to close the `chebgui` figure from the MATLAB command line.  There must be a way, but I do not know it.  I am using MATLAB 2011b and a Macbook Air 2011.

[2014-11-06 14:27] #1255 closed, assigned to nobody

[2014-11-06 16:53] Sandman83 opened #1256 "pde15s and reshape"
![screenshot 2014-11-06 at 17 27 23](https://cloud.githubusercontent.com/assets/2381484/4939571/fb68393e-65d3-11e4-9802-f9c87c622886.png)
Attached is a screenshot of a chebgui example.
Increasing the time, e. g. to 10 leads to an error during solving the pde.

I tried exporting the system to an m-file to see the occurring error. The error was

[code]

I suppose this is related to the ticket #853

[2014-11-07 07:23] nickhale opened #1257 "Issue with `chebGUI` exporting to `pde.m`"
The `chebGUI()` 'export to m-file' option exports to `pde.m` by default.

However, this can cause a conflict with the MathWorks PDE Toolbox:

[code]

Should the default export file name be changed?

[2014-11-07 09:20] #1256 closed, assigned to nobody

[2014-11-07 15:58] trefethen opened #1258 "would somebody please put in a "doublelength" option?"
People - I would be grateful, if it's easily done, if somebody would add what could even be an undocumented feature to the Chebfun constructor pending a full discussion of the right name, capabilities, etc.

`chebfun('exp(x)')`, for example, gives you a chebfun of length 15.  I would like to be able to type
`chebfun('exp(x)','doublelength')` and get exactly the same result as if I had typed `chebf

[2014-11-07 16:12] #1254 closed, assigned to nobody

[2014-11-10 13:36] jaurentz opened #1260 "incorrect result when taking derivative of even length trigtech"
Notice that on this very simple function f(x) = .75-.25_cos(pi_x)whose derivative is known exactly f'(x) = .25_pi_sin(pi*x) the derivative is 0 according to chebfun.

[code]

[2014-11-12 16:01] Hadrien-Montanelli opened #1263 "Colours of legend and curves don't match"
In MATLAB 2014.b.
Suppose we construct the following chebmatrix F:

[code]

We can plot it and add a legend:

[code]

The colours don't match! That's really annoying for system of ODEs and in particular when using the chebgui!

[2014-11-13 15:25] Hadrien-Montanelli opened #1264 "ODEs with highly oscillatory right-hand side"
@ajt60gaibb, @asgeirbirkis and others, that might interest you.

Consider the equation (2.11) of [1] and solve it in Chebfun with ultraS:

[code]

We get a warning,

[code]

the solution is of length 4096, the tail coefficients are O(1e-4) and the error on my machine is

[code]

 So let's try with a higher value of `maxDimension`. (We know from the article that the length of the solution should be

[2014-11-17 20:16] gradywright opened #1270 "polyfit does not work for trigfuns"
I wanted to demonstrate (continuous) least-squares fitting to my numerical analysis class.  The following works great:

[code]

However, switching `f` to be a trigfun causes an error:

[code]

What should be the output in this case?  I think it would be natural to return the trigonometric least squares approximant, i.e. the equivalent to

[code]

What do others think?

[2014-11-18 18:38] asgeirbirkis opened #1272 "Should plotcoeffs plot automatically have titles?"
This was an issue that I raised at the periodic hacking session. At the moment, if we call `plotcoeffs(f)`, the resulting plot does not have a title. I think it'd be useful if we were to automatically add the titles "Chebyshev coefficients" and "Fourier coefficients" to the plots when `plotcoeffs` get's called.

Haven't thought about whether we automatically want to add x- and y-labels as well, bu

[2014-11-19 14:54] aaustin141 opened #1274 "Plotting a constant complex-valued chebfun results in a crash."
I agree that the following plot should not be very exciting, but neither should it crash:
[code]
In v4, this produced an empty plot.  (I can't see even a single colored pixel.)

(NB:  I ran this under R2014b.)

[2014-11-20 11:24] #1239 closed, assigned to nobody

[2014-11-20 13:28] cdestri opened #1276 "Trivial bug in chebfun2/isequal of v5.0.1-344-g1fc6e7a"
Always returns 1 because of g --> f in lines 26,27,28.

[2014-11-20 16:53] #1102 closed, assigned to nobody

[2014-11-20 18:54] #1272 closed, assigned to nobody

[2014-11-21 11:30] #1263 closed, assigned to aaustin141

[2014-11-21 14:07] #1260 closed, assigned to jaurentz

[2014-11-24 14:58] #1011 closed, assigned to nobody

[2014-11-26 15:50] asgeirbirkis opened #1282 "Convergence for collocation"
The convergence check for linear ODEs is an ongoing issue. Here's a concrete example showing that for some problems, it keeps too much of the tail, while for other problems, it thinks it's converged too early. I ran the code below on the current version of development, fa6f520.

[code]

This gives the following image:
![convcolloc](https://cloud.githubusercontent.com/assets/3543429/5203991/7655da5

[2014-11-26 16:40] asgeirbirkis opened #1283 "Plotcoeffs and simplification of the 0 function"
Probably not the highest priority issue, but I think that the behaviour of the following computations is unexpected. This is running on development, fa6f520.

First, construct a 0 `chebfun`. It's coefficient plot looks weird:

[code]

![plotcoeffs0u](https://cloud.githubusercontent.com/assets/3543429/5204827/6621969c-758a-11e4-8649-d11cb5a197b9.png)

Question: In the case where a `chebfun` only ha

[2014-11-26 18:09] rothos opened #1285 "strange asymmetry in detectEdge"
This is just an odd thing I found.

Currently on development, constructing `abs(x)` with splitting returns the following:

[code]

But if I untranspose the vector `x` of finite difference gridpoints on [line 274 of @fun/detectEdge.m](https://github.com/chebfun/chebfun/blob/fa6f5206304c85ec20ab98a942cf9c0c010bd6b4/%40fun/detectEdge.m#L274), the edge detector gets the breakpoint exactly right:

[cod

[2014-11-28 17:15] asgeirbirkis opened #1286 "Bench collection of problems"
@aaustin141 and I have been discussing ways of speeding up various aspects of Chebfun, and @aaustin141 even has produced some promising code for doing so. In order to test the improvements, it'd be very useful to have a bench collection of problems which take a non-trivial time to run (and as @tobydriscoll has pointed out many times in the past, chebtest is not really designed for that purpose).

[2014-11-30 08:13] trefethen opened #1288 "Can we restore plotting of deltas as in v4?"
The plotting of deltas in v5 has never been fixed.  Can it be fixed so that we get arrows that start on the curve, not on the x axis?  Below are plots comparing v4 and v5 results of plot(diff(exp(x)+sign(x))).  I think the v4 image is much more appropriate, and if we could have that again, it would be great.  This issue has come to my attention again as I update the Guide and encounter an embarras

[2014-11-30 08:33] trefethen opened #1289 "bug in computing with deltas"
Chapter 2 of the guide has revealed a bug in computing with deltas.  The code

[code]

gives the plot below.  Blue is right, and red is wrong.  In v4 the two curves coincide.  Please when this is fixed could an appropriate test also be added... it would be enough to make sure f(0.5)-f2(0.5) is zero or nearly so.
![deltasbug](https://cloud.githubusercontent.com/assets/3601488/5237179/2120b0c6-786b-

[2014-11-30 09:59] trefethen opened #1290 "example where v5 is 7 digits less accurate than v4 near singularity"
I guess we know that v5 has some anomalous behaviour near singularities.  Here's another example.  In v4, we find
[code]
In v5, the computation is faster, but the answer is much worse:
[code]
I encountered this example in fixing up Gonnet's `quad/BatteryTest` Example for publication.

[2014-11-30 14:55] trefethen opened #1291 "A "trig" bug probably related to epslevels"
The code

[code]

produces a chebfun of length 1, which is incorrect.  Without the `trig` flag, I get length 153.

This error arises in Section 5.4 of the Guide, where it prevents me from switching a certain contour integral over a circular contour from Cheb to Trig mode.  I presume it is related to epslevels.

[2014-12-01 10:05] trefethen opened #1293 "What does "u-BC" mean in a boundary condition?"
I notice that the command
[code]
produces the result
[code]
I don't understand what "u-BC" means, and I can imagine that users won't understand either.  If this is a bug, could it be fixed?  If it's not a bug, could it be explained to me?  Thanks.

[2014-12-01 14:32] asgeirbirkis opened #1296 "Useless error message for unsupported chebfun constructor options"
Just came across this. At the moment ( 5cb7c2e ), we're not throwing very meaningful error messages for unsupported options for the `chebfun` constructor, even though lines 792-800 of `chebfun.m` seems to be meant to do so.

The following gives a meaningless error:

[code]

while the following does not raise a complaint:

[code]

[2014-12-01 17:58] rothos opened #1298 "Incorrect/inconsistent behavior in exporting solutions to workspace"
In Chebgui, choose an eigenvalue problem, e.g. advection–diffusion, and solve. The behavior of Chebgui upon clicking the “Export solution” button has two issues:
1. It prints only `lambda`, when in fact it has exported both `lambda` and `u`.
2. It exports all the eigenvalues but only the first eigenmode.

If I export via _File > Export to… > Workspace_, then I get both the eigenvalues and eigenmod

[2014-12-01 21:04] hrothgar opened #1301 "Singularity not detected; instead, result is identically zero nearly everywhere"
Construct the following chebfun:
[code]
The singularity was not detected, which is unfortunate. Worse, the chebfun is identically zero almost everywhere on its domain, and the jump between two of the pieces is on the order of 10^4. Here is the chebfun (blue) and the function from which it was constructed (red):
[code]
![Chebfun plot](https://cloud.githubusercontent.com/assets/913747/5253262/3b9933

[2014-12-01 21:36] asgeirbirkis opened #1303 "Changing to periodic discretization changes the elements of a mixed chebmatrix"
As brought to my attention by @trefethen , the following example in Chapter 7.10 of the guide results in chebmatrices with entries where the types disagree, depending on whether you pass an initial guess or not:

[code]

At least one of the reasons why this happens are lines 165-170 in `chebop/solvebvp`, where we ensure that we have the correct discretization, which is needed if we're solving a pe

[2014-12-02 18:30] aaustin141 opened #1305 "Getting rid of empty funs."
The recent discussions related to performance and corresponding investigations have shown that we waste a lot of time in two main places:  `get` and `isempty`.  Significantly reducing the overhead associated with either of these will result in a nontrivial gain in speed.

I would like to propose that we address the latter by doing away with the concept of empty `funs` and `onefuns`.  Instead, we h

[2014-12-03 07:58] trefethen opened #1307 ""periodic" needs to change to "trig" in display"
The word "periodic" needs to change to "trig" when we display a trigfun.  This is in keeping with our policy established weeks ago of making "trig" the universal term*, and I note the error in revising Chapter 11 of the guide.  By way of editorial comment let me add that once you're used to "trig", "periodic" looks quite wrong because it feels like an allusion to a property of a function, not of i

[2014-12-03 10:55] trefethen opened #1308 "Inconsistency: `solvebvp` and `solveIVP`"
In rewriting guide10 I've discovered we have `solvebvp` but `solveIVP`.  Yikes!  We have to make these consistent.  @asgeirbirkis, please do something fast so that guide10 can make sense.  Arguments in favor of lower case: backward compatibility since `solvebvp` is an old method; the analogy with MATLAB `linsolve`.  Argument in favor of upper case: this would be more our style these days.  I can l

[2014-12-03 13:50] #1307 closed, assigned to mhsnjvd

[2014-12-03 18:57] #1308 closed, assigned to asgeirbirkis

[2014-12-03 20:16] aaustin141 opened #1314 "singfun.cumsum() issues an error about logarithmic terms on an example in which none should appear."
No logarithmic terms appear in the indefinite integral of `1/(x - 1)^2 + 1/(x + 1)^2`, but `singfun.cumsum` seems to think otherwise:

[code]

This example is slightly pathological in that it involves the indefinite integral of a function with singularities at both endpoints, but we seem to be OK with that in other circumstances, e.g.:

[code]

Note also that we integrate `1/(x - 1)^2` without inc

[2014-12-03 20:35] aaustin141 opened #1315 "Differentiating an array-valued chebfun with columns whose derivatives have deltas crashes."
I just tried to differentiate an array-valued chebfun whose columns are both the sign function and got the following:

[code]

Yes, we're warned that this doesn't work at the moment, but this needs to be fixed.  Note that the crash actually occurs in `disp`.  This probably means that the differentiation operation leaves the result in an invalid state, which isn't cool.

EDIT:  Note also that diffe

[2014-12-03 20:46] aaustin141 opened #1316 "Plotting a quasimatrix with columns that have delta functions crashes."
It seems we can't plot quasimatrices that have columns with delta functions:
[code]

[2014-12-03 21:21] aaustin141 opened #1317 "Taking the indefinite integral of 1/x^2 on [-1, 1] results in a crash."
As the title says, calling `cumsum` on a chebfun for `1/x^2` doesn't work:

[code]

I'm not going to mark this as a bug because it didn't work in v4 either:

[code]

(No crash, but notice the endpoint value of `NaN` in the second fun.)

[2014-12-04 10:25] trefethen opened #1318 "misleading "splitting on" message when trigfun construction fails"
If you try to construct a trigfun for a function that isn't smoothly periodic, here is what happens:

[code]

It seems to me this isn't the right warning message.  A better one might be

[code]

[2014-12-04 15:12] #987 closed, assigned to nobody

[2014-12-05 12:04] #1205 closed, assigned to nobody

[2014-12-05 12:40] #1270 closed, assigned to mhsnjvd

[2014-12-05 13:56] #1289 closed, assigned to mhsnjvd

[2014-12-05 16:51] #1027 closed, assigned to nobody

[2014-12-05 16:54] #865 closed, assigned to nobody

[2014-12-05 17:10] #1291 closed, assigned to nobody

[2014-12-05 18:49] Hadrien-Montanelli opened #1323 "Problem with breakpoints and periodic boundary conditions"
When the boundary conditions are periodic, we use `trigcolloc` unless:
(1) there is a breakpoint in the domain or in the coefficients,
(2) or `ultraS` is the default,
(3) or a `cheboppref` object is passed.

If (1), Chebfun switches to the default discretization. If it happens to be `trigcolloc`, an error is issued.
If (2), Chebfun switches to `ultraS`.
If (3), Chebfun switches to `cheboppref.disc

[2014-12-06 14:12] trefethen opened #1324 "could "chebfun(f, 'xxx' ) give an intelligible error message?"
Currently if you give a meaningless string to the Chebfun constructor, you get an unhelpful error message.  Could this be improved to some message like "string not recognized"?

[code]

[2014-12-06 14:30] #1324 closed, assigned to nobody

[2014-12-07 18:59] #1318 closed, assigned to nobody

[2014-12-07 19:51] #1296 closed, assigned to nobody

[2014-12-07 21:14] #1298 closed, assigned to asgeirbirkis

[2014-12-08 13:03] #1303 closed, assigned to Hadrien-Montanelli

[2014-12-08 18:13] #1323 closed, assigned to Hadrien-Montanelli

[2014-12-09 17:05] #1232 closed, assigned to nobody

[2014-12-10 16:57] bhashemi opened #1331 "problem with ''chol'' in chebfun2"
The ''chol'' command doesn't work for a simple problem in ''Chebfun2'' in the development branch. Consider the following:
``
x = chebfun('x');
A = [x.^2, x.^4];
B = A * A';
R = chol(B)
``
When running these lines, I get the following error message
Error using min
Matrix dimensions must agree.

Error in chebfun2/chol (line 55)
k = min(k, Posk);

I get the same error messgae for
``
A = [1, x];
``

[2014-12-12 01:56] hrothgar opened #1332 "plotcoeffs2 doesn’t provide title or axis labels"
We recently changed `plotcoeffs` so that the produced plot has a title and axis labels. The command `plotcoeffs2` should follow suit.

[2014-12-12 03:24] #1257 closed, assigned to nobody

[2014-12-17 11:29] trefethen opened #1333 "trig <-> periodic switch needed in `chebfun` help text"
The text you get with `help chebfun` describes the `periodic` flag, and then explains that
[code]
This is obsolete: 'trig' should now be our standard term and 'periodic' can be mentioned as an alternative.  In other words, the roles of 'periodic' and 'trig' need to be interchanged.  @mhsnjvd, would you be able to fix this?

[2014-12-17 11:51] trefethen opened #1334 "`trigcoeffs(<chebfun>)` gives erroneous result"
The `trigcoeffs` command can be used to compute a few exact Fourier coefficients of a non-periodic chebfun, as in this example:
[code]
That is fine.  However, if you don't specify the number such as 5 above, you get the output corresponding to `tricoeffs(t,length(t))':
[code]
This does not make sense mathematically and will readily mislead users as it misled me, though the help text to its credit

[2014-12-17 22:10] trefethen opened #1336 "trigfun gives wrong 'function not resolved' message"
Trigfun, quite properly for reasons of FFT efficiency, samples a function at 16, 32, 64, ... points, _not_ at 17, 33, 65.  But if convergence is not achieved, it says function not resolved using "65537" points (see below).  This seems to me misleading -- it will confuse a user who really wants to understand what is going on.  I realize that the number reported is actually maxLength, not the actual

[2014-12-17 22:14] trefethen opened #1337 "Why does sampling stop at 32768, not 65537?"
I am confused!  Can somebody explain something basic to me?  The confusion applies in both trigfuns and chebfun's; let's focus on the latter.
Suppose I make a function that evaluates `sign(x)` and also prints the lengths of the `x` vectors called.  I get the following:
[code]
I don't get it.  Why are these numbers even, not odd?  And more importantly, why is the last one 2^15, not 2^16?

[2014-12-27 18:58] sagan86 opened #1338 "A problematic eigenvalue problem - system of two 4th order BVPs coupled at a boundary"
I've been experiencing some difficulty solving a particular eigenvalue problem using Chebfun. I believe the implementation is correct, yet Chebfun sometimes gives a correct "answer" and sometimes gives an incorrect "answer".
The equations govern the linear stability of two layered fluids flowing in a channel, that is, the Orr-Sommerfeld equations. This problem is similar to the classical single fl

[2015-01-05 22:13] bhashemi opened #1339 "Reverse coefficients in the help text of `chebcoeffs`"
The help text of `chebcoeffs` gives wrong information. It says that
`A = CHEBCOEFFS(F)` means that
 F = A(1) T_{N-1}(x) + ... + A(N-1) T_1(x) + A(N) T_0(x)
which is not correct. It should be
 F = A(1) T_0(x) + A(2) T_1(x) + ... + A(N) T_{N-1}(x)

Here is an example showing this:
`>> f = chebfun('2 + x'); a = chebcoeffs(f)`
`a =`
`     2`
`     1`

[2015-01-05 23:24] bhashemi opened #1340 "Make the help text of `chebcoeffs2` clearer"
Here is what we see in the help text of `chebcoeffs2`:
`X = chebcoeffs2(F) returns the matrix of bivariate coefficients such that`
        `F= sum_i ( sum_j X(i,j) T_i(y) T_j(x) )`.

`i` in `T_i(y)` and `j` in `T_j(x)` should start at `0` but MATLAB indices in `X(i,j)` start at `1`. So, I suggest the following instead of the second line above:
        `F= sum_{i=0}^{n-1} ( sum_{j=0}^{n-1} X(i+1,j+

[2015-01-06 10:14] trefethen commented on #1340
Yes, that looks sensible to me.

[2015-01-12 13:48] asgeirbirkis opened #1342 "Automatic subplotting of a quasimatrix"
When working with quasimatrices (and chebmatrices) of decent dimensions, I keep finding myself wanting to do a subplot to look at individual functions on separate plots, rather than all on the same plot. Now, I have to do something like this:

[code]

Should we introduce a subplotting command, that given the dimensions, would do these kind of thing automatically, e.g.

[code]

[2015-01-12 14:36] trefethen commented on #1342
My reaction is that this would be an odd thing to do, since MATLAB doesn't have such a feature for plotting columns of a matrix; what makes the Chebfun context so special that one would want to break the analogy?  Perhaps I am missing something about how valuable this would be.

[2015-01-12 15:08] asgeirbirkis commented on #1342
I guess one of the reason why MATLAB doesn't have this feature is that for them, the third argument to the subplot command is the same datatype as a matrix (which can make it ambiguous whether one is indexing the subplots or calling for this functionality), whereas in our case, the third argument would be a Chebfun datatype, so that we'd always know what to do with the input.

I came across this w

[2015-01-12 17:39] asgeirbirkis opened #1343 "Deleting a column of a quasimatrix results in an error when trying to display"
I was expecting the following to throw away the fourth column of the quasimatrix ```T```:
[code]
It seems to have done something correct, as the ```funs``` field is of correct dimensions:
[code]
However, when I try to display ```T```, I get a meaningless error:
[code]

[2015-01-15 12:41] asgeirbirkis commented on #1209
Here are some more lines of code related to this issue that came from the help mailing list:
[code]

[2015-01-15 17:44] asgeirbirkis opened #1344 "Incorrect domain when constructing a quasimatrix from a cell array with a scalar entry"
As the following reveals, when plotting chebmatrices, constants get plotted on the incorrect domain:
[code]
This results in the following plot:
![chebmatrix_domainplot](https://cloud.githubusercontent.com/assets/3543429/5762969/10e4c6ec-9cde-11e4-89ea-5d7abdfa2b20.png)

[2015-01-15 18:09] asgeirbirkis commented on #1344
This essentially boils down to the following lines of code given an unexpected output:
[code]

[2015-01-16 09:43] nickhale opened #1345 "chebtest chebfun/test_trigcasting fails"
Test 14 fails for me because
[code]

It appears the reason is that the break points of `round(f)` and `round(g)` are off by O(`eps`). Since that's perfectly justified, I think this test needs to change. Possibly testing the domain of `round(f)` and `round(g)` are the same, plus maybe something like that the 1-norm of `round(f)` is the same as the 1-norm of `round(g)`, or something.

[2015-01-16 10:57] asgeirbirkis commented on #1345
Closed by #1346

[2015-01-16 10:57] #1345 closed

[2015-01-16 11:07] nickhale commented on #1337
I agree with @gradywright.

`sum([17 16 32 64 128 256 512 1024 2048 4096 8192 16384 32768]) = 65537`

The initial `2` comes from querying the function handle to test vectorisation (I think).

[2015-01-16 11:07] #1337 closed

[2015-01-16 11:11] nickhale commented on #1333
Closed by #1335.

[2015-01-16 11:11] #1333 closed

[2015-01-16 15:26] #1343 closed

[2015-01-19 19:07] davidagross opened #1349 "Truncated periodic construction yielding phased shifted results"
Check out the following example where I construct a periodic chebfun, and then construct the same one where I truncate the length to be of the same length as in the automatic construction:
[code]
yielding
[code]
![huh](https://cloud.githubusercontent.com/assets/1645786/5806084/604e8166-9fca-11e4-869d-2024565366f4.png)

I can see that the code that does this shift is the change of variables on Line

[2015-01-19 19:49] davidagross commented on #1006
I think this can be closed based on #1035, but I wanted to run that by @nickhale and @kuanxu to make sure I'm not missing something. Thanks!

[2015-01-19 19:49] #1006 closed

[2015-01-20 09:34] nickhale opened #1350 "Implement a `truncate()` method"
There are a few ugly things about how the `trunc` option is currently implemented:
 * Additional input parsing takes place in `chebfun()`, even though we have a sub-method for that.
 * Encapsulation is scetchy at best when the truncation is actually implemented.
 * The truncation machinery is taking up a lot of code in the otherwise clean constructor.

I suggest:
 * Moving the input parsing that t

[2015-01-20 16:23] davidagross commented on #1350
I love this idea but have a question about your example.  Why wouldn't `truncate(s,10)` return `s`?  In my mind, we're taking a chebfun (that's split into two parts that each have less than 10 coeffs) and asking to strip off the coeffs higher than the first 10.  In this view, the output is the input.

The naive questions here is: when should truncate() merge split domains before truncating, and wh

[2015-01-20 16:38] nickhale commented on #1350
I was just going for consistency with the current `trunc` option in the constructor:
[code]

From the help text:
[code]

I guess my `truncate()` method is equivalent to computing the **global** Chebyshev coefficients via `chebcoeffs()` and then constructing a chebfun from there values:
[code]

[2015-01-20 17:18] davidagross commented on #1350
Perfect.  I still wasn't thinking of `chebfun` the right way where I assumed we were truncating some computational object that depended on the way it was stored, whereas we are actually truncating the function that our object represents to only be represented with the first N chebpolys.

I can imagine that there exists a function for which a user would want to use Chebfun's splitting algorithms to

[2015-01-20 18:17] jaurentz opened #1351 "To simplify or not to simplify?"
Should we demand that

[code]

when f is a chebfun?

Here's a chebfun classic.

[code]

Taking the derivative of the integral lowers the degree by 2.

[code]

The norm isn't zero either.

[code]

A quick check and one finds the culprit to be `simplify`. This begs the bigger question, _Do we simplify operations that we know can be done to high relative accuracy?_ Here I mean machine epsilon not the

[2015-01-20 19:52] davidagross commented on #1351
I'll second that sentiment of thinking twice, related to the issues around simplification I was looking at with @kuanxu in singfun and unbndfun having to do with exponents (See #1024 for `simplify` and #1026 for a similar conversation but about boundary root extraction).

[2015-01-21 09:19] nickhale opened #1353 "Scaling in ULTRAPOLY() and JACPOLY()."
The following are the 'same', but the scaling is different. This is fine (i.e., not a bug) but the difference should be documented in the help text. Currently `legpoly()` is the only `*poly()` method which discusses scaling (i.e., normalization).

[code]

[2015-01-21 15:01] bhashemi opened #1355 "A comparison of Epslevel and relative error"
Suppose that f is explicitly given and fN = chebfun(f). I made a comparison between the present Epslevels and "relative errors" for 54 different functions f in Chebfun where
RelErr := norm(fN(x) - f(x),inf)/ norm(f(x),inf);
is supposed to give us an estimate of the relative truncation error. Here, x = chebpts(2N+1) chosen as motivated by a discussion about "interstitial error" in Pages 50-55 of Bo

[2015-01-21 15:57] asgeirbirkis commented on #1243
I think this might be related to #1209, for which I have an upcoming pull request.

[2015-01-21 16:01] asgeirbirkis commented on #1215
Closed by #1279.

[2015-01-21 16:01] #1215 closed

[2015-01-21 16:03] asgeirbirkis commented on #1207
Let's ensure that we archive this discussion properly (wiki?), we can then close this issue. @aaustin141 will take care of getting this into there (assuming everyone is happy with the contents).

[2015-01-21 16:13] asgeirbirkis commented on #1076
Do we want to pursue this issue further, or settle on closing it?

[2015-01-22 07:39] nickhale commented on #1207
I think adding it to the wiki and linking to it in the FAQ under "What is a quasimatrix?" would be a good idea.

[2015-01-22 21:01] gradywright commented on #1336
I tried fixing this by simply replacing the default 'maxLength' value to '2^16' in '@trigtech/techPref'.  This seems like the most natural thing to do.  Unfortunately it looks like 'chebfunpref' does not respect a given techs 'techPref' value for 'maxLength'.  It always uses whatever is defined in '@chebtech/techPref.m' for this value.  I'm hoping @aaustin141 can help me out with fixing this as he

[2015-01-22 21:03] gradywright commented on #1092
It seems to me like this can be closed, unless @trefethen still has some questions.

[2015-01-23 10:05] aaustin141 commented on #1336
The reason @gradywright's fix does not work is not because `chebfunpref` always uses the `chebtech` default value for `maxLength`.  It's because `chebfunpref` stores a default value for `maxLength` that is used by the upper layers, and that value happens to be `65537`.

To clarify, `maxLength` is one of the handful of preferences that are really properly tech preferences---techs need values for th

[2015-01-23 10:20] nickhale opened #1358 "Unexpected behaviour from @SINGFUN/CHEBCOEFFS()."
`@singfun/chebcoeffs()` does not return the correct coefficients:

[code]
[code]

I first suspected that it was simply returning the coefficients of `exp(x)`, but that's not the case either.

An additional problem is that if no `N` is given to `chebcoeffs()` then the length of the **smoothPart** of the function is given to 'singfun/chebcoeffs', even though the function will typically have a non-co

[2015-01-23 11:24] kuanxu commented on #1358
First, just want to check if we are on the same page, since c1 I have is a row column (this perhaps is another bug?):

[code]
[code]

Second, the reason why the coeffs of f1 are not those of `exp(x)`'s is that those coefficients are computed by inner product of the whole function (singPart*smoothPart) with the Chebyshev weight (see Line 33 of @singfun/chebcoeffs). You wrote that algorithms, I gues

[2015-01-23 12:08] nickhale commented on #1358
Yes, the fact that c1 is a row (in your version) is a bug. I fixed that fix-singfun-chebcoeffs.

I don't expect it to return the coefficients of `exp(x)`, I expect it to return the coefficients of `sqrt(1+x).*exp(x)`. Currently it does neither. I think I found the problem(s):
 1) The 2/pi scaling was not being included in singfun
 2) There were some flipud issues, probably relating to when the coe

[2015-01-23 14:57] gradywright commented on #1336
Thanks for the explanation.  Is it possible for `chebfunpref` to accept an optional input argument of the `tech` that should be used.  Then if a preference field is not specified upon construction, it simply sets the the `techPrefs` fields to the values found in `tech.techPrefs`?  It seems odd to me that in the `chebfun` constructor we deal with getting all the preferences independently of whether

[2015-01-24 11:37] trefethen commented on #1092
Thanks @gradywright.

[2015-01-24 11:37] #1092 closed

[2015-01-26 13:32] asgeirbirkis commented on #1334
Closed by #1357.

[2015-01-26 13:32] #1334 closed

[2015-01-26 14:46] trefethen opened #1361 "`chebtech2.vals2coeffs` is quadratic, not nlogn"
@bhashemi and I have been doing so experiments that show `chebtech2.vals2coeffs` seems to have quadratic rather than nlogn complexity -- or perhaps even worse.  For example, on his new Mac,
[code]
What's going on?  The Slowest Fourier Transform in the West!

[2015-01-26 14:53] aaustin141 commented on #1361
I actually can't run the `randn(16000)` example on my machine, as I run out of memory (8 GB RAM) in the call to `vertcat` which doubles things up.

[2015-01-26 14:54] trefethen commented on #1361
Oops, you've pointed out that we were too hasty. We should have written randn(16000,1).  My bad.  I'll close the issue.

[2015-01-26 14:54] #1361 closed

[2015-01-27 12:34] bhashemi commented on #1066
I see the same problem in 'Chebfun2' with 'periodic' flag. Let's try a random 2D periodic bump function in the development branch:
[code]
I see the same infinite loop as @gradywright has already noted:
[code]

[2015-01-27 19:49] ajt60gaibb commented on #1066
It was a while ago, but I believe I fixed this in:  #1251.   #1251 is just
waiting to be merged into development. I think I have already resolved
all the issues that were brought up during code review, as I said it was
a while ago.

[2015-01-28 16:23] davidagross commented on #1026
So let's look at where we are now:
[code]
now yields
[code]
So it looks like we're good on all the integrals, so I'm going to close this issue.  It would appear that the difference between `f2` and `f3` lengths and endpoint values would be due to the differences in `Epslevel`, and the `f1` value for `vscale` is still a part of #108?

Thanks all (and @kuanxu and @nickhale) for helping me contribute

[2015-01-28 16:23] #1026 closed

[2015-01-28 16:57] asgeirbirkis opened #1364 "Error when constructing periodic chebfun2 objects"
As discussed at today's meeting, the following gives an unexpected error:
[code]
while the following works
[code]

Although note that when ```u``` is displayed above, there is nothing that indicates that it is based on a periodic chebfun, while looking at the columns of ```u``` confirm that actually is the case:
[code]

[2015-01-28 19:09] #1353 closed

[2015-01-28 19:10] aaustin141 commented on #1274
Closed in #1246.

[2015-01-28 19:10] #1274 closed

[2015-01-29 15:22] aaustin141 commented on #1358
Reopening this, since #1359 only fixed this in part.

[2015-01-29 15:32] nickhale commented on #1358
@aaustin141 - do you have any thoughts on the proposed solution to the second part of the problem?

[2015-01-29 17:35] aaustin141 commented on #1358
I haven't thought about this carefully---so forgive me if what I'm saying is nonsense---but it seems to me that the problem is that the default number of coefficients to request is being set by `chebfun` to be `length(f)`.  Is there a reason it needs to do that?  In the single-fun case (which is the only one where this matters, since otherwise, we have to work at the `chebfun` level and do the int

[2015-01-29 21:47] hrothgar opened #1365 "Error when solving a linear IVP system"
I tried solving the following simple linear IVP system

[code]

and got this error from treeVar:

[code]

[2015-01-29 22:47] hrothgar opened #1366 "Change copyright year to 2015 before v5.1.1 release"
Just so we don't forget.

[2015-01-30 00:40] hrothgar opened #1367 "trigtech/plus misbehaving for functions with even length"
I added a constant to a trigfun, and it looks like the constant got added to the wrong Fourier coefficient:
[code]
![bug_trig_plus](https://cloud.githubusercontent.com/assets/913747/5969089/1f893d9c-a817-11e4-8244-01bbcdadc70b.png)

Is it because this particular function, which I got from gallerytrig, has even length?
[code]

[2015-01-30 04:45] gradywright commented on #1367
You are correct @hrothgar, this is because the length is even.  Looks like `@trigtech/plus` did not get updated when we switched the way we stored coefficients.

[2015-01-30 06:55] nickhale commented on #1358
That would work, but then problem is that piecewise functions are treated differently from smooth ones. Now, I know that happens in a bunch of places, but here it doesn't seem necessary. Is `chebcoeffs(f)` often used (i.e., without a given `n`)? I feel always demanding `chebcoeffs(f, n)' would be cleaner.

[2015-01-30 10:38] #1367 closed

[2015-01-30 11:39] hrothgar opened #1371 "Bug when plotting coefficients of even-length trigtech"
As noted in #1327, there are a couple of issues with the coefficients plot of an even-length trigtech:

[code]
![doublelength_trig](https://cloud.githubusercontent.com/assets/913747/5975066/a7814f3a-a873-11e4-8143-3af21ad6022e.png)

1. The coefficients are misnumbered — is this because the coefficients are supposed to be flipped, reordered the opposite way?
2. The epslevel line doesn't extend all

[2015-01-30 14:10] gradywright commented on #1371
1.  Even length trigtechs have one extra negative mode coefficients `c_{-N/2}` corresponding to the mode `exp(1i*pi*x*(-N/2))`.  When the change was made to switch the ordering for how trig coefficients are stored (i.e. from -N/2 to N/2-1 in the case of N even), the code in `@trigtech/plotcoeffs' was not updated to account for where  extra negative mode occurs.

2.  I'm not sure why epslevel does

[2015-01-30 16:25] nickhale opened #1372 "CHEBFUN(F, N) is not documented in >> help chebfun"
`CHEBFUN(F, 'trunc', N)` appears, but not `CHEBFUN(F, N)`.

Information on the new `'doublelength'` flag also needs to be included.

[2015-01-30 16:47] #1339 closed

[2015-01-30 16:47] #1358 closed

[2015-01-30 16:47] aaustin141 commented on #1258
Closed in #1327.

[2015-01-30 16:47] #1258 closed

[2015-01-30 17:41] aaustin141 commented on #1226
Does the introduction of `cheb.gallery('random')` in #1319 resolve this issue?

[2015-01-30 17:44] trefethen commented on #1226
As far as I'm concerned, yes it does.

[2015-01-30 19:13] hrothgar commented on #1226
I'm happy for this to be closed, too.

[2015-01-30 19:13] #1226 closed

[2015-02-01 12:17] #1066 closed

[2015-02-02 09:18] #1145 closed

[2015-02-02 10:58] nickhale opened #1375 "Tidying negative exponents"
I think we should strive to return a `chebfun` with positive exponents where possible. For example, I would like the following to have exponents `[0.5 0]` rather than `[-0.5 0]`:

[code]

[2015-02-03 10:58] nickhale opened #1380 "Ensure real output in CHEBFUN.DCT() et al."
We current make little attempt to ensure that the DCT/DST/IDCT/IDST of real vectors returns a real output.

(The reason this is required is that we have to use the FFT to compute these, which can introduce small imaginary errors.)

For example:
[code]

[2015-02-03 11:48] ajt60gaibb commented on #1380
Not sure. My original intention for `chebfun.dct()` and its cousins was to not have any input checking.

[2015-02-03 12:03] trefethen commented on #1380
I don't know the details of this particular matter, but my general view is that Chebfun should not check for special symmetries like even or odd except for one exception: real inputs that mathematically should give real outputs should also do the same computationally.  (This came up in trigfun.)  It is just too confusing and distracting if there are imaginary rounding errors, not to mention the ad

[2015-02-03 12:19] nickhale commented on #1380
@trefethen - I believe that's the case here.

[2015-02-04 12:44] #1375 closed

[2015-02-04 13:04] aaustin141 commented on #1375
I probably should have said this before this issue got closed, but in order to do this, we need to call `extractBoundaryRoots`, right?  Doesn't that have the potential for additional loss of accuracy?  If so, is a cosmetic change like this really worth it?  I only ask because we've had lots of problems with `extractBoundaryRoots` in general; indeed, it's kind of a theme that runs through all of ou

[2015-02-04 13:12] nickhale commented on #1375
I think it's worth it. My example above which gave NaN at the left wasn't so bad, but consider this (pre-#1376):

[code]
The value at the left certainly shouldn't be inf.

Things can be even worse:
[code]

Post-#1376 these all give much more sensible results.

[2015-02-04 14:23] kuanxu commented on #1375
I believe that we had debate before on whether do `cancelExponents` in @singfun/rdivide.m as well as tons of experiments. There are benefits for including it (as this ticket indicates) and for excluding it (as we all know that `extractBoundaryRoots` is one of the most unreliable functions in `singfun` and one origin of the `singfun` woes). So it's not easy to draw a conclusion which is better. I g

[2015-02-04 15:06] nickhale opened #1381 "DCT and iDCT duplicated in RATINTERP()."
`ratinterp()` has implementations of `dct1`, `dct2`, `idct1`, and `idct2` which aren't consistent with those in `chebfun.dct()` and `chebfun.idct()`. These should probably be removed.

There are two reasons for this (and other recent changes to using `chebfun.dct()`):
 * We don't really want the duplicated code
 * If Matlab ever gives access to the FFTW DCT implementations, this will make it easie

[2015-02-04 15:16] asgeirbirkis opened #1382 "Testing of chebfun outerproduct"
I'm working on a feature branch restoring the behaviour of calling ```kron``` with three arguments, and getting a ```chebmatrix/linop``` output. Going through the current tests, I noticed that currently, there don't appear to be any test for ```chebfun/outerProduct```, or for the behaviour of calling ```f*g'```. There is a reminder in ```tests/chebfun/test_mtimes``` saying ```% TODO: Test Chebfun2

[2015-02-04 15:17] ajt60gaibb commented on #1382
I can take a look at the tests when you are ready.

[2015-02-05 15:22] ajt60gaibb commented on #1381
... and the DCT and DST implementations in chebfun/dct and chebfun/dst will get better over time ...

[2015-02-05 16:53] davidagross commented on #1349
Vis a vis #988, I'm not sure whether this is a related problem or not.  Trying to look deeper into it, my biggest concern now @gradywright and @mhsnjvd is that I'm pretty sure I don't have a grasp of the finer points of `trigfun` degree vs. length and the discussions of even and odd `trigfuns` that have been popping up.  I think I get that a degree `N` `trigfun` would like `2*N+1`data points, but

[2015-02-06 18:53] #1380 closed

[2015-02-10 11:43] hrothgar opened #1387 "cannot extract a column from a chebmatrix"
Syntax that should return a column instead returns only a single chebfun:

[code]
The same thing happens for rows and any other array-slicing involving the colon syntax. If I specify the indices, I get back an array-valued chebfun or quasimatrix, even if that doesn't make sense:
[code]

[2015-02-10 17:42] hrothgar commented on #1387
I didn't realize the proper syntax is to use parentheses rather than curly braces.

[2015-02-10 17:42] #1387 closed

[2015-02-10 18:03] hrothgar opened #1388 "Inaccuracies in solving periodic Van der Pol equation"
Last year Toby and I wrote a Chebfun example called “Location and stability of periodic orbits in the van der Pol equation” in which we found periodic orbits of the Van der Pol equation with unknown period. Ásgeir and I tried to get this Example working again and ran into a few bits of trouble. This is one of the issues we came across.

The code below is a stripped-down version of the first half o

[2015-02-10 18:25] rothos opened #1389 "Solving a periodic ODE with additional constraints"
The code below solves a parameter-dependent 2nd-order ODE with periodic boundary conditions. There is also an additional condition (y'(0) = 1) to account for the degree of freedom introduced by the parameter.

[code]

The problem is entirely periodic and the solution is smooth, but currently it cannot be solved using trigonometric collocation. Trying to set the default discretization to @trigcollo

[2015-02-10 19:32] asgeirbirkis opened #1390 "Applying operatorBlocks to ADchebfuns"
This came up wheh @hrothgar and I were investigating the example that lead to #1388. Applying operatorBlocks to ADchebfuns is currently not supported, which might be useful in some cases:

[code]

[2015-02-13 10:53] asgeirbirkis opened #1391 "Using Chebfun to compute Fréchet derivatives"
In v4, we were able to compute the derivative of any chebfun with respect to any other chebfun. Due to changes in the code, we lost this capability. Recently, both @hrothgar and @Hadrien-Montanelli have approached me with questions about this functionality which they'd like to have. I suggest we have a method which given a function handle and chebfun inputs returns the Fréchet derivative of the fu

[2015-02-13 21:34] asgeirbirkis opened #1392 "Way to tell if a linop has cumsum operators in it"
At the moment, once we start combining integral and differential operators, there is no way of telling that a linop has a cumsum operator in it. In other words, there is no integration analogue of ```diffOrder```, we use negative ```diffOrder``` to indicate that integration is involved, but that breaks down when we start combining operators. The following demonstrates the issue
[code]
I know this

[2015-02-13 21:48] asgeirbirkis commented on #1392
I'd even stick a bug label to the following:
[code]

[2015-02-16 08:07] nickhale commented on #1392
Is there a reason you want to be able to do this? Obviously `.diffOrder` is required for boundary conditions, but I'm not sure there's a need for a `.cumsumOrder`.

Furthermore, I don't think your example above is a bug at all. `.difforder` has always held the largest differential order in the operator, and here 0 > -1.

Probably the main problem here is that `.diffOrder` is barely documented at a

[2015-02-16 12:15] asgeirbirkis commented on #1392
This came up when trying to fix #1209. To more carefully treat unknown parameters as opposed to functions, we should categorise any variable that's not acted on by differentiation or integration as parameter. The way we have for that now is to check whether the corresponding ```diffOrder``` is 0. However, when I then try
[code]
we get ```L.diffOrder = 0```, which breaks the test.

[2015-02-16 12:20] nickhale commented on #1392
I think the way we did this in v4 was by keeping track of 'diagonal' (i.e., multiplication only) operators, which is probably equivalent.

[2015-02-16 13:01] asgeirbirkis commented on #1392
Yes, that might be a more transparent and robust way. ```isDiag``` could be a property of the ```operatorBlock``` class, I'll investigate this option.

[2015-02-16 13:04] asgeirbirkis opened #1393 "diffOrders of fred and volt"
These ought to be -1:
[code]

[2015-02-16 13:07] #1234 closed

[2015-02-16 13:31] hrothgar commented on #1391
I like this idea. The syntax and calling sequence you've suggested are fine to me, and `diff` is the natural name for such a method.

[2015-02-16 18:51] #180 closed

[2015-02-16 18:51] #1393 closed

[2015-02-17 09:34] asgeirbirkis commented on #1382
Closed via #1385

[2015-02-17 09:34] #1382 closed

[2015-02-17 10:19] rothos opened #1396 "comet for multiple trajectories"
One question that came up during the CDT course on ODEs and bifurcations was, “Can you do `comet3` on two 3D trajectories simultaneously?” — such a feature could allow for a nice visualization of divergence of nearby orbits of chaotic systems, for example. Currently we can’t do this, even for 1D trajectories (i.e. you can’t `comet` two chebfuns simultaneously). This would be a nice feature, but it

[2015-02-17 16:51] asgeirbirkis commented on #1243
@nickhale have you got an example where you want to use this functionality so that I can include it in a test?

[2015-02-18 08:35] nickhale commented on #1243
Not really. I guess the examples above would suffice (and probably non-linear versions, too)?

[2015-02-18 09:17] hrothgar opened #1397 "Constructing chebops from function handles like @diff"
Currently both of these constructions succeed:
[code]
And the forward action works for both of them. However, the `disp` and `mldivide` commands fail for `B`. The error in both cases is
[code]
As I understand it, chebop works by checking the number of inputs to its op, and in this case one has that
[code]
I'm not sure if there's a good way to make it work. Comments, @asgeirbirkis?

[2015-02-18 11:27] rothos opened #1398 "Several bugs regarding chebmatrices"
Here are a bunch of things going wrong with the `chebmatrix` class. Some of these are not strictly “bugs” since the expected behavior of chebmatrices has not been laid out completely. Consider them instead enhancements or feature requests.
1.  `horzcat` behavior is inconsistent among input types.

[code]
2.  It is possible to create chebmatrices with inconsistent dimensions.

[code]
3.  Behavior w

[2015-02-18 16:46] asgeirbirkis commented on #1397
The output from nargin is because constructing the handle ```@diff``` refers to the built-in Matlab ```diff```, which has up to three input arguments:
[code]

[2015-02-18 17:38] jaurentz opened #1400 "Output of chebops with periodic boundary conditions"
Should the output of the following be a chebfun or a trigfun?

[code]

[2015-02-18 17:57] mhsnjvd commented on #1400
I think it should be a trigfun.

[2015-02-19 07:34] nickhale commented on #1004
I think that in the `chebtech` case the argument for using the `cumsum()` approach rather than `restrict()` (i.e., `f{a,b}`) is that that former is faster as it only requires applying the cumsum recurrence relation = O(N), and then two point evaluations, also O(N) (and both with small implied constants). Conversely with `restrict()` we must evaluate at N points = O(N^2). This suggests we should pu

[2015-02-19 07:35] #1139 closed

[2015-02-19 07:54] nickhale commented on #30
I'm in favour of (A), and therefore closing this issue.

Although these are `chebfun` methods, we don't really expect casual users to be making use of them and the expected behaviour is documented.

[2015-02-19 07:59] nickhale commented on #343
There is now implemented for smooth chebtech-based chebfuns (with the possibility of an endpoint singularity at the left).

I'm going to close this issue and open a new one regarding piecewise smooth chebfuns.

[2015-02-19 07:59] #343 closed

[2015-02-19 08:01] nickhale opened #1404 "Fractional derivatives/integrals for piecewise smooth functions"
We can compute fractional derivatives of smooth chebfuns (even those with endpoint singulrities at the left):

[code]

However, piecewise smooth functions are not supported at all:
[code]

[2015-02-19 08:11] nickhale commented on #555
After applying @aaustin141 's patch I get:
[code]

Although the convergence still stagnates (I don't know enough to know why) this is considerably better than the situation before the patch:

[code]

I'd be in favour of applying the patch and (if necessary) opening the convergence problem as a new issue.

[2015-02-19 08:34] nickhale commented on #1189
I think the whole filter process needs looking at. Profiling a few of the tests suggest that at least 50% of the computational time in all eigenvalue problems is spent here.

[2015-02-19 09:07] mhsnjvd opened #1405 "Remez doesn't work for functions with bounded singularities"
The following used to work in V4 but doesn't now:

[code]

[2015-02-19 15:48] trefethen opened #1406 "Restore original functionality of `comet`: and a proposal for `comet(<trigfun>)`"
The issue #1396 about `comet` made me try `comet` for the first time in v5, and I was startled to discover it does something different in v5 than in v4.  This change happened without discussion and I think we should revert to the v4 action as the default.  We could keep the v5 action available if the user specifies a flag.  (A possible flag might be `matlab` since the v5 action is close to MATLAB'

[2015-02-19 16:20] davidagross commented on #1406
One quick thought on the trigfun version could be to, just once, start in
the middle of the curve and make the periodic traversal as proposed, though
that may confuse the concept of "where the function starts".

On Thu Feb 19 2015 at 7:48:35 AM Nick Trefethen <notifications@github.com>
wrote:

[2015-02-19 19:11] aaustin141 commented on #30
Agreed.  This most likely isn't worth worrying about.

[2015-02-19 19:11] #30 closed

[2015-02-20 10:26] nickhale commented on #469
Closed by #1407.

[2015-02-20 10:26] #469 closed

[2015-02-20 13:58] asgeirbirkis commented on #1400
Same issue as usual, we can't construct ```x``` as trigfun, so ```sin(x)``` wil be a chebfun, and the product of ```sin(x)``` and ```u``` will be a chebfun.

[2015-02-20 14:22] asgeirbirkis commented on #1288
Is this closed by #1408?

[2015-02-20 14:26] trefethen commented on #1288
Looks good to me.  I'll close the issue, with thanks to @mhsnjvd and others.

[2015-02-20 14:26] #1288 closed

[2015-02-20 14:27] mhsnjvd commented on #1288
Yes.

![untitled](https://cloud.githubusercontent.com/assets/890964/6287844/93fc8412-b90c-11e4-836a-f2ebdfa9168c.jpg)

[2015-02-22 13:44] Flavius0 commented on #779
Experimenting with examples from the chebfun guide and some other problems, I found two other problems, which show a similar behaviour.

    ep = 0.01;
    N = chebop(-1, 1);
    N.op = @(x,u) ep*diff(u,2) + 2*(1 - x.^2).*u + u.^2;
    N.bc = 'dirichlet';
    x = chebfun('x');
    N.init = 4*(x.^2 - 1).*(2 - 3./(1 + 13*x.^2));
    prefs = struct();
    prefs.display = 'iter';
    prefs. discretiza

[2015-02-22 17:05] trefethen opened #1410 "bug in `doublelength`"
`doublelength` seems to be producing results that are too big by 2, in both standard and trig mode.  Thus for example:
[code]
The results here should be 3 and 5.  I'm a little puzzled how this slipped by us... am I missing something?

I am taking the liberty of assigning this hopefully very minor fix to @hrothgar, since he's been involved in `doublelength` already and, more to the point, I encount

[2015-02-23 09:48] hrothgar commented on #1410
Doublelength creates a chebfun of length 2\*N+1, where N is the length the constructor would normally choose. Since `chebfun('x')` is of length 2, `chebfun('x','doublelength')` creates a chebfun of length 2\*2+1 = 5. And since the trig representation of sin(pi\*x) is of length 3, the doublelength version is of length 2\*3+1 = 7.

(The reason we did 2*N+1 was to maintain odd degree in the trig repr

[2015-02-23 09:51] trefethen commented on #1410
Yes, it should certainly be changed to 2N-1!  Doubling the degree
makes sense.  Doubling degree-plus-1 makes no sense that I can see.
If you read the text of my Example you'll see what I mean.

      Nick

On 23/02/15 09:48, Hrothgar wrote:

--
L. N. Trefethen FRS
Professor of Numerical Analysis and Fellow of Balliol College, Oxford University
Global Distinguished Professor, New York University
Po

[2015-02-23 18:09] asgeirbirkis opened #1412 "chebfun2.movie did not make it to v5"
It appears that the the ```chebfun2/movie``` method never made it to v5. There is a ```chebfun/movie``` method which I was unaware of, but the 2D version originally written by @ajt60gaibb seems to be missing.

I've just experimented running the v4 code in v5. It required only a few changes to reflect the changes in the data structure of the ```chebfun2``` objects (as the ```fun2``` class is no mor

[2015-02-23 18:21] ajt60gaibb commented on #1412
That's right. I never put `chebfun2/movie` in v4. I had it as a very low priority command. (I would suggest that it is still low priority.)

The main point of `chebfun2/movie` was for presentations to demonstrate how the adaptive 2D constructor works.   It is not really a 2D analogue of the MATLAB command `movie`.  Nowadays, I am not sure if it should be code kept in `Dropbox/chebfun_files` or in

[2015-02-23 18:34] trefethen commented on #1412
@asgeirbirkis and I just had a chat and we agreed that he will show this to the group at our meeting on Wednesday and we will discuss what seems to be the right thing to do.  Our current feeling is that this is too neat not to have available, but perhaps it would best be renamed with a less cosmic name than "movie".  We hope to have a resolution to propose on Wednesday.

[2015-02-23 18:36] ajt60gaibb commented on #1412
Great. Perfect.

[2015-02-24 12:02] #1410 closed

[2015-02-24 17:10] asgeirbirkis commented on #278
NULL for scalar problems was already included in v5, #1413 introduced the functionality for systems of equations.

[2015-02-25 14:21] mhsnjvd commented on #1405
The problem occurs due to a subtraction (addition) that takes place between a `singfun` and a  `smoothfun`. In the Remez algorithm, we approximate a given chebfun `f` with a candidate polynomial `p` and then compute the extrema of `f-p`. The problem is that in V5 `f-p` fails, while it works fine in V4, thanks to singular mappings. Here is a simple example of this failure:

[code]
This is the reaso

[2015-02-26 12:04] aaustin141 opened #1414 "Crash when constructing a chebfun with singularity and breakpoint detection enabled."
I can't see a reason why the following construction should result in a crash.  The result may not be very  good (since it's `singfun` we're dealing with, after all), but I don't think it should crash.
[code]
EDIT:  Note that if I build the `chebfun` for the gamma function first and build this one from that, the result is fine:
[code]
SECOND EDIT:  Note also that if I build the chebfun for `gamma(x

[2015-02-26 12:23] nickhale commented on #1414
I believe that what happens is that either the edge detection or the pole selection fails somewhere along the line, resulting in a subinterval of a very small length. Line 283-285 of `chebfun/constructor` them makes the decision that a constant approximation on which a small interval will suffice, hence the op gets turned into a double. The `singfun` constructor can't handle double inputs, and so

[2015-03-02 14:06] aaustin141 opened #1416 "Support MATLAB 'Color' plot option in plotcoeffs()."
The way `plotcoeffs` is currently written, we cannot supply the `'Color'` option to change the color of the plot.  For instance, if we wanted to use a darker shade of green for the coefficient plot than a line style of `'g'` would give us, it would be nice to be able to do the following:
[code]
This doesn't crash, but the color choice is not respected.

[2015-03-02 14:46] asgeirbirkis opened #1417 "waterfall plots of chebfun2 objects have wrong colors"
This came up while working on #1412, and inspired by #1416 I wanted to make an issue out of it to ensure it'd be dealt with. The following reveals that the colours of chebfun2 waterfall plots in Matlab 2014b are not correct, in the sense that rows and columns that belong to the same pivot are plotted in different colours. Futhermore, the pivot points are not plotted in colours that match the lines

[2015-03-03 15:42] hrothgar opened #1419 "documentation of chebfun/kron disagrees with behavior"
The documenation for chebop/kron's `'op'` argument says that

However, it doesn't seem to care about the order of the inputs:

[code]

[2015-03-04 12:52] nickhale opened #1421 "Behaviour of the CHEBFUN/POLY() function."
The `@chebfun/poly()` method is consistent with the built-in `poly()` method, but differs substantially from the new `@chebfun/*coeffs()` methods (which were previously `@chebfun/*poly()`).

Is it worth implementing a `polycoeffs()` (or perhaps `monocoeffs()`) method?

[2015-03-04 13:43] trefethen commented on #1421
@nickhale, could you clarify what you mean?  Perhaps give an example of what `poly` and `chebcoeffs` do and what you are proposing `polycoeffs` or `monocoeffs` might do?

[2015-03-04 13:50] nickhale commented on #1421
Sure:

[code]

The difference is entirely cosmetic, but it does allow easy comparison via:
[code]

[2015-03-04 13:54] trefethen commented on #1421
Ah, I see, thanks.  My feeling is that the convenience of such a command would be outweighed by the confusion it might introduce -- we'd have two different commands with quite different names which produced the same result, except one the flipped transpose of the other.

If MATLAB had a `monocoeffs` alternative to `poly` that users were already familiar with, that would change my view.

[2015-03-04 13:56] nickhale commented on #1421
My own confusion occurred when I expected `poly()` to return results in the same form as `chebcoeffs()`.

I don't feel particularly strongly about this.

[2015-03-04 21:59] asgeirbirkis opened #1422 "A chebfun.explain() movie"
Soon, the `chebfun2/movie` method we had in v4 will be restored in v5, albeit under a different name (as `chebfun2/explain`). It would be neat to have a `chebfun/explain` movie as well, for example discussing why and where we decided to chop the tail.

[2015-03-05 13:21] Hadrien-Montanelli commented on #1371
@gradywright Any progress? If you haven't started working on it yet, I can take care of if!

[2015-03-05 13:44] nickhale opened #1423 "sqrt(x) - 0*x fails"
[code]

[2015-03-05 13:51] gradywright commented on #1371
@Hadrien-Montanelli I actually fixed this a while ago, but forgot to issue a pull request.  Let me look it over and make sure I caught everything.

[2015-03-05 13:56] Hadrien-Montanelli commented on #1371
@gradywright Great!

[2015-03-06 10:27] #1371 closed

[2015-03-06 12:22] hrothgar opened #1425 "NaNs appearing in output of nonlinear ODE solves"
Here I solve a nonlinear ODE and enable the `'display, 'iter'` option to see verbose output of the Newton iteration:
[code]
Why is there a `NaN` in the "Contraction" column? I see `NaN`s every so often, but usually they only appear when the iteration fails. Here it succeeded. @asgeirbirkis?

[2015-03-06 12:27] asgeirbirkis commented on #1425
This is because Contraction measures the ratio between successive Newton updates -- this information isn't available only after one update (as you've only computed one update).

[2015-03-09 13:40] aaustin141 opened #1427 "Lack of warning on failed constructions in rdivide()"
The construction involved in the following division operation fails, but no warning is issued:
[code]
This example comes from a question submitted to me by one of the students in @trefethen's scientific computing class at Oxford.

[2015-03-12 18:06] #1344 closed

[2015-03-12 18:07] asgeirbirkis commented on #1316
This works for me now without crashing, @aaustin141 can you please confirm you're happy for this to be closed?

[2015-03-13 07:48] nickhale commented on #1316
This doesn't crash for me, but I notice that the colours are off (at least, in R2014b):
[code]
![plotdelta](https://cloud.githubusercontent.com/assets/2035010/6634786/0ef70372-c966-11e4-9c46-a3c727545e33.png)

[2015-03-13 09:17] aaustin141 commented on #1316
I'm getting the same behavior as @nickhale:  the original example no longer crashes, but the colors are messed up.  We should be able to fix this by messing with `ColorOrderIndex` in the same way that we used to fix #1263 via #1278.

[2015-03-13 11:03] #1414 closed

[2015-03-16 12:44] asgeirbirkis commented on #1425
@hrothgar, if you're OK with the answer above, could you please close this ticket?

[2015-03-19 15:15] trefethen opened #1430 "Automatic vectorizing of the `op` field of a chebop"
For the ODE book whose preparation is getting underway, I am obsessive about making all the syntax as simple as possible; this must be a book about ODEs, not Chebfun.  Indeed, this obsession is what led to the new IVP capabilites that @asgeirbirkis has worked on so hard in the past year.

I think it would be extremely nice if, in defining in-line `op` fields for chebops, one could write things in

[2015-03-19 15:29] trefethen opened #1431 "change default ODE IVP mode to "splitting off""
At present when you solve an ODE IVP, the Chebfun that is produced is constructed in splitting on mode with a `splitLength` of 300.  This has a very awkward consequence: if you take a couple of derivatives of the solution, little delta functions appear.  And these are precisely the functions a Chebfun user is most likely to want to take derivatives of!  This has come up in writing the ODE book.

I

[2015-03-20 16:33] #1350 closed

[2015-03-20 16:33] #1223 closed

[2015-03-21 11:06] asgeirbirkis opened #1433 "Improving error messages/warning when solving ODEs with incorrect number of BCs"
This comes out of a discussion with @trefethen , an issue encountered in part of preparation for the ODE book.

If we try to solve an ODE that lacks the right number of BCs, like
[code]
we get a warning that's not particularly informative:
[code]
It would be nicer if we could output a message indicating that perhaps the user hasn't specified that right number of BCs.

In the example below, the sys

[2015-03-21 15:13] trefethen commented on #1433
Thanks @asgeirbirkis.  As we work on the ODE book it's very fruitful that ODE-related user issues like this are coming up and getting addressed.  I appreciate it.

[2015-03-21 16:47] asgeirbirkis commented on #1433
With 7f2bdb8b, we now get the following more meaningful errors and warnings when we encounter incorrect number of BCs:

No BCs
[code]

Too few BCs in IVP mode
[code]

Too few BCs in collocation mode
[code]
Too many BCs in collocation mode:
[code]

[2015-03-24 15:23] #1433 closed

[2015-03-24 15:32] #1431 closed

[2015-03-24 15:38] #1430 closed

[2015-03-25 15:07] asgeirbirkis opened #1436 "Output of chebfun.prod"
Currently, ```chebfun.prod``` returns a ```chebfun``` of length 1. Shouldn't it really just return a scalar? Cf. the help text
[code]
And the following calculations that to me don't make much sense
[code]

[2015-03-25 15:17] nickhale commented on #1436
Yes.

[2015-03-25 16:14] #1176 closed

[2015-03-25 16:16] asgeirbirkis commented on #1392
Closed via #1418

[2015-03-25 16:16] #1392 closed

[2015-03-25 16:22] hrothgar opened #1437 "Passing an initial guess with correct dimensions to chebop"
The documentation for chebop states that if the system doesn't correctly identify which variable of an op is a parameter, you can manually specify one by passing an initial guess with the correct dimensions of the solution. However, doing so doesn't seem to work:

[code]

See also https://github.com/chebfun/chebfun/issues/1209#issuecomment-63653265.

[2015-03-25 17:10] asgeirbirkis commented on #1209
Closed via #1418.

[2015-03-25 17:10] #1209 closed

[2015-03-25 17:16] asgeirbirkis commented on #1437
One reason is that the last argument to the chebop constructor gets assigned to the .bc field:
[code]
So passing a chebmatrix to the rhs of \ in the second chunk of code doesn't match the dimensions of the operator.

Also, I'm still not convinced that we should spend time worrying about problems that are not differential/integral equations.

[2015-03-28 15:02] jaurentz opened #1439 "Trigfun 'plus' and 'minus'"
Is there a reason trigfun + and - use values instead of coefficients? Take for example:

[code]

[2015-03-28 15:14] gradywright commented on #1439
I can't remember any reason why I chose values over coefficients here.  I guess @ajt60gaibb must not have been looking over my shoulder when I implemented this.

[2015-03-28 16:41] ajt60gaibb commented on #1439
I forgive you @gradywright.

[2015-04-01 11:19] jaurentz opened #1440 "Trigfun `cumsum`"
In the current version of Chebfun the trigtech/cumsum command throws an error if the function
has a nonzero mean. The line between zero and nonzero mean can be difficult to determine.
Consider the following example:

[code]

Even in this simple example it is not clear what to do. One option might be to
return a chebfun instead of an error.

[2015-04-01 11:45] trefethen commented on #1440
I've been talking with @jaurentz to understand his concerns here (which were prompted by a test that failed in the branch `feature-prescribed-eps`, namely `trigtech/test_cumsum`).  It seems there are three concerns:

(A) A user encountering the message above may be bewildered.

To address this, I suggest the following.  First of all, `@chebfun/cumsum` currently does not mention that zero mean is n

[2015-04-01 12:04] mhsnjvd commented on #1440
This is mainly a tolerance issue. The tolerance for checking zero meain at the chebfun level is different from that at the trigtech level. What is happening is that Chebfun thinks that the mean is zero and passes it on to trigtech, where trigtech thinks that the mean is not close to zero.

For functions having a clear non zero mean the casting would be done and a Chebtech bases object will be retu

[2015-04-01 12:09] mhsnjvd commented on #1440
In particular the two zero mean checks are as follows:

chebfun cumsum, line 70:
[code]
and trigtech cumsum, line 83
[code]

[2015-04-02 13:20] jaurentz opened #1441 "QR factorization of trigfun based quasimatrix."
The QR factorization of a trigfun based quasimatrix typically works as expected. One exception is the case where the quasimatrix is nearly rank one.
[code]
We see that a fairly small perturbation can return a Q that might be a bit far from orthogonal. The phenomenon gets worse as the perturbation gets smaller.
[code]
Shouldn't a QR factorization routine always return a quasimatrix that is orthogon

[2015-04-02 13:59] mhsnjvd commented on #1440
I have issued a pull request in which I have made the test at the chebfun level "tighter" or looser, depnending on how you look at it.

[2015-04-02 16:04] tobydriscoll opened #1443 "Displaying operators as equations"
The following output doesn't seem right to me.

[code]

An operator isn't an equation, so why is the "= 0" shown?

[2015-04-02 16:08] trefethen commented on #1443
Yes, I agree, that seems odd.  Thoughts @asgeirbirkis?

[2015-04-03 09:30] trefethen opened #1444 "bug in ODE interpretation of BCs"
In writing an example in the ODE book I found that the following code produces two identical plots, whereas they should be different:
[code]
Somehow or other, chebfun interprets `diff(y,2)` (also `diff(y,77)`) as the same as `diff(y)`.

Ideally, Chebfun should solve the problem stated.  If that's not feasible, one would hope it would at least detect that `diff(y,2)` has been written and generate a

[2015-04-06 11:28] asgeirbirkis commented on #1444
The Matlab solvers that we employ for solving IVPs don't support the second problem; for an nth order problem, the initial values of the (n-1)st derivatives have to be supplied (although the first order reformulation code supports the initial conditions to be supplied in an arbitrary order). So I think throwing an error is the best we can do here, I have a pull request coming up for that which doe

[2015-04-06 11:30] asgeirbirkis commented on #1443
Agreed, another issue related to the displaying of chebops is #1293, I'll deal with both these issues in the same upcoming pull request.

[2015-04-07 07:46] jaurentz commented on #1441
In the branch feature-prescribed-eps there is a rank deficient case that is currently disabled in
tests/trigtech/test_qr.m. Once the bug is fixed, this test should be reinstated.

[2015-04-07 10:49] trefethen opened #1445 "display `vscale` and `epslevel` rather than `Vscale` and `Epslevel`"
In Chebfun, our convention is that the correct spelling of `epslevel`, `vscale`, and `hscale` is all lower case.  However, when we display  a chebfun, they come out with initial upper-case:
[code]
This happens though even if you try to access such variables, it won't work:
[code]
I think the output should be simply `epslevel` and `vscale`.  I've taken the liberty of assigning this issue to our sty

[2015-04-07 11:16] Hadrien-Montanelli commented on #1445
In that case, would it be possible to get rid of the full stop after the displayed value?

Hadrien

From: "Nick Trefethen" <notifications@github.com>
To: "chebfun/chebfun" <chebfun@noreply.github.com>
Sent: Tuesday, 7 April, 2015 11:49:46
Subject: [chebfun] display `vscale` and `epslevel` rather than `Vscale` and `Epslevel` (#1445)

In Chebfun, our convention is that the correct spelling of epslev

[2015-04-07 11:19] trefethen commented on #1445
Yes please!  I had not dared to ask for so much :) .

[2015-04-07 15:03] jaurentz commented on #1441
A similar issue has arisen both on Kuan and Behnam's laptops in `chebtech/qr.m` as illustrated by epslevel-dependent failures in `tests/chebtech/test_qr.m` in branch `feature-prescribed-eps`.

[2015-04-07 15:10] jaurentz opened #1448 "Disabled tests for `chebfun/eq.m`, `chebfun/lt.m` and `chebfun/ne.m`"
Due to epslevel-dependent issues, individual tests for `chebfun/eq.m`, `chebfun/lt.m` and `chebfun/ne.m` have been disabled in branch `feature-prescribed-eps`. Please reinstate these tests when the issue is resolved.

[2015-04-07 15:13] jaurentz commented on #1440
In the branch `feature-prescribed-eps` some tests for `trigtech/cumsum.m` have been disabled due to
an epslevel-dependent issue. Please reinstate these tests when the issue is resolved.

[2015-04-10 10:39] trefethen opened #1450 "`help chebfun/eigs` and `help chebfun/expm`"
Our commands `eigs` and `expm` are very special, among the glories of Chebfun.  A user may easily be confused when they look for them and don't find them:
[code]
and similarly with `expm`.  I wonder if we should put in dummy
M-files in `@chebfun` to help the user.  For example, if `@chebfun/eigs.m`
consists of the single line
[code]
then we get
[code]
which strikes me as an improvement.  I've assi

[2015-04-10 13:21] trefethen opened #1451 "enabling `V'*V` when `V` is a chebmatrix of quasimatrix style"
In drafting a chapter of the ODE book I wanted to show that eigenfunctions of self-adjoint differential operators are orthogonal.  I tried
[code]
This doesn't work.  More precisely, it does work, but the output is a 6x6 chebmatrix whose entries are scalars.  This of course is crazy from a user point the view; the user would expect to get a 6x6 matrix.

I've been talking with @asgeirbirkis, and we

[2015-04-10 15:04] trefethen opened #1453 "Ordering of outputs of `eigs`"
@tobydriscoll, I'll assign this to you at least initially since you're the expert -- I hope that's ok.

`chebop/eigs`, by default, computes eigenvalues & eigenfunctions starting with the smoothest, and this is a fantastic option which is just right in most applications.  But I notice it doesn't return its outputs to the user in that order.  For example, this ordering is the reverse of what one wou

[2015-04-11 20:07] marjanmoradi commented on #1390
i have this problem too, would you mind if you find the answer (how to remove this error) tell it to me?

[2015-04-12 13:03] asgeirbirkis commented on #1390
@marjanmoradi at the moment, we haven't implemented a fix for this bug, but I'll make sure to comment on this issue once a pull request for it gets issued!

[2015-04-12 13:22] asgeirbirkis commented on #1451
As a backstory for the solution that @trefethen and I propose (and so that our trains of thought get archived), here's my take on the problem on the potential solutions. First of all, there are a few issues going on with the current implementation which leads to the undesired behaviour:

* The reason why we return chebmatrices, rather than quasimatrices from eigs is that for coupled systems, that'

[2015-04-12 14:39] trefethen commented on #1451
Yes, I agree.  Thanks @asgeirbirkis.

[2015-04-12 19:04] asgeirbirkis commented on #1451
Once #1454 gets merged, the output from the example above is as follows:
[code]

[2015-04-13 09:30] #1171 closed

[2015-04-13 10:28] aaustin141 commented on #1445
Closed in #1446.

[2015-04-13 10:28] #1445 closed

[2015-04-14 15:09] asgeirbirkis opened #1456 "bsxfun for quasimatrices/array valued chebfuns/chebmatrices"
In Matlab, one can use bsxfun to repeat operations between vectors and matrices (the technical term is binary singleton expansion functions). For example, if one wishes to subtract a single column from all columns of a matrix, the following doesn't work:
[code]
but the following does
[code]

I was finding myself wanting to do the same between a chebfun and an array valued chebfun, but neither work

[2015-04-14 15:13] asgeirbirkis commented on #1342
I'm finding myself using my local version of this functionality quite frequently, where I've named it gridPlot. I.e.
[code]
gives me a 4x2 subplot with each column in a single plot. Can anyone else imagine it being useful, in which case, I could submit a pull request for it?

[2015-04-15 11:03] ErashMuhs opened #1457 "Solving a highly nonlinear differential equation which includes a square-root"
Hi all together,

I am quite new here and I am currently working the first time with chebfun. I am very astonished about the simplicity and simultaneous strength of the Chebfun-approach and would like to support my PhD-thesis by using this evaluation technique.

I have a relatively complex problem which consists of the solve of a highly nonlinear differential equation including a square-root of th

[2015-04-15 12:19] ErashMuhs commented on #1457
I already got an answer (thanks for that!)

[2015-04-17 11:19] #1450 closed

[2015-04-17 12:57] ajt60gaibb commented on #1412
What happened to @asgeirbirkis's efforts on the `chebfun2.movie` command (now called `chebfun2.explain')? I wanted to demo it to someone yesterday, thinking it must already be there. Quite embarrassing when I could not find it.

[2015-04-17 13:14] asgeirbirkis commented on #1412
Matlab 2014a vs b graphics issues held me up. I'm almost there but just have to tie a few loose ends (and find someone to review the code).

[2015-04-18 15:17] trefethen commented on #1342
At our group meeting we decided this sounds like a good idea (all lower case though, `gridplot`) -- thanks @asgeirbirkis.  May I urge you to make sure `gridplot` finds its way into our documentation via Examples and/or Guide?

[2015-04-19 11:44] asgeirbirkis commented on #1342
@trefethen , sure, I'll write an example demonstrating this feature when it goes live, and issue a pull request to the appropriate section(s) of the guide as well.

[2015-04-20 19:01] ajt60gaibb opened #1459 "Mean of techs"
I know users will not do this, but should the following work?:
[code]

They all give an error for me.  For example,

[code]

[2015-04-20 19:03] ajt60gaibb commented on #1459
Oh, techs do not have a `mean()` command. How silly of me.

[2015-04-20 19:03] #1459 closed

[2015-04-20 19:34] ajt60gaibb opened #1460 "Should the periodic flag give an error when given an even number of samples?"
So, I just found out that trigtech only works with odd length samples. Fine, I understand that parity is annoying here.  But, I do not get an error if I try:
[code]
Now, `g` is the zero function! I was expecting an error or for it to be cast to a chebfun (with a warning?).

[2015-04-20 19:46] gradywright commented on #1460
trigtechs should work completely fine for even length samples.  Is there somewhere in the trigtech code that would lead you to believe otherwise @ajt60gaibb?

The bug you found is a bug with @chebfun/cumsum.  It is incorrectly checking the mean of an even length trigfun (another bug from when we switched the order of the coefficients).  I will have a fix (and test) soon.

[2015-04-20 19:48] ajt60gaibb commented on #1460
Oh, `trigtech/cumsum` made me think that because of the way it was checking the coefficients.

[2015-04-20 19:51] ajt60gaibb commented on #1460
Also, everytime I tried to make a `trigfun` from a function handle it came out with an odd number of coefficients. This seems to happen also when an even number would do.

[2015-04-20 19:55] ajt60gaibb commented on #1460
Also, things like this:
[code]

[2015-04-20 19:58] gradywright commented on #1460
Unless you explicitly construct from samples, a `trigfun` will always be odd.  I'm pretty sure more people than just me know this and that we decided this would be fine since even length trigfuns are odd (pun-intended)--they break symmetry between numbers of cosine/sine modes.   Do others have comments?

[2015-04-21 08:10] aaustin141 commented on #1457
Resolved with @nickhale's e-mail reply, which is copied above in the previous comment.

[2015-04-21 08:10] #1457 closed

[2015-04-21 09:37] trefethen commented on #1460
About even vs odd, yes, trigfuns are supposed to have odd length unless you explicitly force it to be even.  This is discussed carefully in our paper on the subject, `https://people.maths.ox.ac.uk/trefethen/trigpaper.pdf`; see in particular remark 3 on p. 2 and the text on p. 10.  Speaking philosophically, let me comment that whereas of course in principle everything about even vs. odd trigonometr

[2015-04-21 09:59] mhsnjvd commented on #1460
If I may also add, trigonometric interpolation at even number of points
only makes sense for the special case of equally spaced points. The
interpolation problem has non-unique solutions for arbitrary even
interpolation points. See the last paragraph at p.4 of our paper
http://zindajaved.com/html/publications/javedTrefethen2015.pdf for a
trivial example of non-uniqueness.

On 21 April 2015 at 10:3

[2015-04-22 09:53] ErashMuhs opened #1463 "Solving a time-dependent differential equation utilizing the Crank-Nicolson-Methode"
Dear programmers,

I am trying since a little while to solve a time dependent differential equation with high accuracy utilizing the chebfun-functions for the spatial-discretization and some of the well known algorithms for the time-discretization (like Dupont-II, Crank-Nicolson, Adam Bashfort, Adams Moulton, Euler-Backward/Forward, Runge Kutta...). The solution shows the diffusion of specific par

[2015-04-22 13:06] aaustin141 opened #1464 "A singfun plotting crash related to x-limits."
The following crashes with an error that seems to come from the part of `singfun.plotData` which is responsible for setting x-limits:
[code]
The triggering of this error seems to be somewhat sensitive to the input parameters.  For instance, if I do `dom = [0, pi]` instead, the call to plot succeed, though the construction of the `chebfun` fails.

The function constructed here is a bit pathological

[2015-04-22 13:58] asgeirbirkis opened #1465 "Allen-Cahn demo in chebgui is slow"
As pointed out by @trefethen, the Allen-Cahn demo in chebgui runs much slower in v4 than it did in v5.

My investigation leads me to think it’s actually not a v4/v5 issue, but more to do with plotting at each timestep. If I export the problem from the GUI, and run in v5.0, it takes 4.00 seconds, while it takes 4.07 seconds on the current version of development. But if I run the demo straight from

[2015-04-23 10:00] #1293 closed

[2015-04-23 10:00] #1443 closed

[2015-04-23 10:00] #1451 closed

[2015-04-23 12:18] asgeirbirkis opened #1468 "Where should we store developer files?"
@nickhale and I were talking about his script for comparing different (git) versions of Chebfun, cf. discussion in #1403.

I like his script, the main question before issuing a pull request is where it should be stored. The script can be categorised as something that's "very useful for Chebfun developers, not so much for the standard user". Other stuff in the same category is the script for publis

[2015-04-23 13:44] aaustin141 commented on #1468
Generally speaking, I don't think that these sorts of things belong in the main Chebfun repository; of the options listed, 3 sounds the most palatable to me.  Another option might be to upload them as gists and post them on the wiki.

Regarding the specific case of the script that does the nightly testing, I don't see any real reason to post it to GitHub at all.  I don't think most other folks wil

[2015-04-23 14:01] #1444 closed

[2015-04-23 16:52] davidagross commented on #1468
:+1: on option 3, though I'd add that the nightly testing script could go in a place like that too.  Even if no other people would be able to run it without modification, their contributions could warrant collaboration or modification of those scripts.

[2015-04-24 12:07] nickhale opened #1469 "'exps' vs 'exponents' in chebfun() call"
One can supply `'exps'` to the Chebfun constructor:
[code]
but not `'exponents'`:
[code]

Is this intentional?

[2015-04-24 12:38] kuanxu commented on #1469
@nickhale No, I think. We just simply adopted what we used in V4.

[2015-04-24 13:07] nickhale commented on #1469
It seems confusing. Is there any documentation about passing exponents via the chebfun constructor? It seems that at the moment it is simply quietly supported for backwards compatibility.

[2015-04-24 13:46] thorstendahmen opened #1470 "sum(), integral() and roots()"
One of the most distinctive sentences, which I associate with Chebfun is the following which I quote from the top of the Chebfun homepage:

"Most Chebfun commands are overloads of familiar MATLAB commands — for example `sum(f)` computes an integral,[...]"

But does this really make sense? For me `sum()` is an operator that takes a _variable_ number of inputs and the output is the sum of these inpu

[2015-04-24 16:13] trefethen commented on #1469
There some discussion in sections 9.2 and 9.3 of the Guide.

[2015-04-25 06:04] nickhale commented on #1469
Is there a reason not to also allow `exponents`? I know we specifically changed the property of the field in `@singfun` from `.exps` to `.exponents` to make it more readable. One would expect this to be even more important for a user facing feature in the constructor.

I don't feel strongly about this, but it confused even me for a few minutes. If someone tells me this isn't an issue then I'll hap

[2015-04-25 10:11] trefethen commented on #1469
OK with me so long as `exps` remains.

[2015-04-25 12:31] asgeirbirkis commented on #1470
Hi Thorsten,

Just wanted to give you my views (and not necessarily the "official Chebfun team view").

1. The chebfun `sum` can be thought of as the continuous limit of the summation of elements of vector. There is also an `chebfun/integral` method, which has the same functionality as `sum`. That method was introduced because we recognized that `integral` might come more intuitively to some users

[2015-04-25 15:51] thorstendahmen commented on #1470
Hi Asgeir,
thanks for your answer!
1.) Ok, so I am and integral-user from now ;). It is funny that I had been thinking for years that the sum-overload is like a textbook example for object-oriented programming. But now as I have really thought about it for the first time it became clear that it is not at all. That's embarrassing for a computer scientist like me ;).
2.) For sure I agree that it loo

[2015-04-28 08:19] nickhale commented on #1404
Upon further reflection, fractional integrals / derivatives of piecewise smooth functions will (in general) not  be representable in Chebfun anyway.

As an example, consider
[code]
Then, mathematically, `g` is given by
[code]
(Proof by picture below.)

Currently `singfun` does not support mixed singularities of this form:
[code]

[2015-04-28 08:19] #1404 closed

[2015-04-28 08:21] nickhale commented on #1404
[code]

![fracint](https://cloud.githubusercontent.com/assets/2035010/7365395/388d88fc-ed90-11e4-9862-51a2e30b0553.jpg)

[2015-04-28 10:26] ajt60gaibb opened #1472 "cheb2leg and leg2cheb do not return triangular matrices"
Mathematically, the following two matrices:
[code]
are upper triangular. They have to be as both Chebyshev and Legendre bases are degree-graded. At the moment they are only upper triangular to 14-digits.  Compare:
[code]

Should they be triangular with hard zeros?

[2015-04-28 10:59] nickhale commented on #1463
Problems 1 & 2 are related, and mainly caused by the `sqrt(u)` term. When the `chebfun/sqrt()` methods is given a function with a root, it will try and introduce a breakpoint there (as it is likely the result will be singular.) It will also probably introduce `'exponents'` to try and resolve this singularity. Compare the following:
[code]
We see that deal with the sqrt is, in some sense, unstable

[2015-05-01 14:13] asgeirbirkis opened #1473 "Plotting chebfun to specific axes is not supported"
While investigating #1465, I came across the following bug, which I believe was discussed a long time ago. Essentially, it's not possible to command Chebfun to plot to specific axes, like is possible to do in standard Matlab. These lines confirm that the first plotting command plots to the first axes created, while the second command causes an error:
[code]

[2015-05-01 14:39] asgeirbirkis commented on #1473
Unless I'm mistaken, then based on my experiments, we don't stand a great chance to ever successfully overload `plot` so that `plot(ax2, cheb.x)` works. However, we should be able to achieve something like `plot(cheb.x, 'axes', ax2)`.

[2015-05-04 11:27] asgeirbirkis commented on #1473
It appears that I've found a way to circumvent this issue (see an upcoming pull request), so I'm demoting it to a low-priority one.

[2015-05-04 23:21] asgeirbirkis opened #1475 "Testing of chebgui demos"
Currently, we don't test automatically whether all our chebgui demos actually work. As I've only just discovered, eigenvalue problems are broken in chebgui in development, which really shouldn't have been possible to happen (fortunately, they're working on master). I'll run git bisect tomorrow to find out what caused this and hopefully issue a hot-fix pull request addressing it, but in the slightl

[2015-05-05 07:09] nickhale commented on #1475
I'm not sure if this is related but when I click the "Test ALL demos" button in `chebgui` I get
[code]
This happens both in development and master..

[2015-05-05 11:21] asgeirbirkis commented on #1465
These are the speeds I get on the branch whose pull request is #1476, compared with development, running on my laptop:

Allen-Cahn chebgui demo
[code]

Diffusion-reaction coupled PDE chebgui demo
[code]
So pretty significant speedups, the plotting looks much smoother!

[2015-05-05 11:36] nickhale commented on #1465
Why does the `Exported, plotting on` take so much longer than `In chebgui` for the coupled PDE?

[2015-05-05 14:39] asgeirbirkis commented on #1465
@nickhale The waterfall plots are actually not included in the timing, in the exported script, I'm measuring time via
[code]
and in `solveGUIpde.m`, it's measured at
[code]

It doesn't appear to me that it's just a fluke that `chebgui` was faster, I tried running it again now and still got similar results.

[2015-05-05 14:54] #1465 closed

[2015-05-06 16:39] asgeirbirkis commented on #1468
At the Chebfun meeting today (2015/05/06), we decided to go with option 3. @aaustin141 accordingly has created the repository chebfun/dev-tools, cf. https://github.com/chebfun/dev-tools . The plan is to gradually add our development tools there, i.e. we won't put our existing tools there all at once to begin with.

[2015-05-06 16:39] #1468 closed

[2015-05-07 07:38] nickhale commented on #1468
Sounds good.

[2015-05-07 08:37] nickhale opened #1479 "Is the .vscale needed in chebtech objects?"
Since it seems the `.epslevel` property of `chebtech` objects is about to go the way of the Dodo, should we also consider scrapping the `.vscale` field?

In terms of efficiency, I imagine around 50% of the time we will lose by having to compute the same vscale more than once, and the other 50% we will save by having not computed it at all.

In terms of the code, it would almost certainly make thin

[2015-05-11 09:30] trefethen commented on #1479
A very interesting idea.  @jaurentz and I will bear it in mind as we work further on matters of constructors etc.  Thanks.

[2015-05-11 10:03] asgeirbirkis opened #1482 "Code duplication in chebcolloc classes"
I was looking at ways of speeding up `chebcolloc` code, and noticed that there seems to be quite a bit of code duplication going on. For example, `chebcolloc1/diff.m` and `chebcolloc2/diff.m` are identical, apart from line! Same goes for `sum.m` of those classes. This is a case of pretty bad software engineering, and should be rectified asap.

[2015-05-11 13:01] nickhale opened #1483 "eigs() throwing unhelpful errors when max dim is reached."
Consider the following:

[code]

The first eigenmode requires 62 points to resolve (not shown here - take my word for it) so maxDimension = 25 will not be enough. This is what happens when we call eigs:
[code]
The problem is that the discretization length gets incorrectly updated.

Perhaps more worryingly:
[code]
if we simply ask for the eigenvectors we get a result with no warning (even though we

[2015-05-11 13:06] nickhale commented on #1483
In `feature-eigs-warning` I've modified the `eigs()` code so that the above now returns:
[code]
and
[code]

We can easily change the warning to be a (sensible) error, if that is preferred.

[2015-05-11 15:07] asgeirbirkis commented on #1483
@nickhale for the warning, should we point users to `cheboppref.maxDimensions`?

[2015-05-11 15:37] nickhale commented on #1483
Sounds good.
On 11 May 2015 17:07, "Asgeir Birkisson" <notifications@github.com> wrote:

[2015-05-12 11:40] trefethen opened #1486 "bug: failure of `chebfun(tan(x))`"
Something very basic is going wrong here!
[code]

[2015-05-12 13:40] asgeirbirkis commented on #1483
Closed via #1484.

[2015-05-12 13:40] #1483 closed

[2015-05-12 15:08] trefethen opened #1487 "Chebfun2 takes `O(n^2)` time to evaluate at `n` points"
Suppose f is a fixed chebfun2.  You would think that the time to evaluate f(s,s), where s is a vector of length n, would be proportional to n, but @bhashemi and I have noticed that it seems to be proportional to n^2.  @ajt60gaibb, can you shed light on this?  If you try this at home, don't increase k to 2^15! -- on my desktop, at least, it hangs and I have to restart Matlab.
[code]

[2015-05-12 15:15] ajt60gaibb commented on #1487
Oh, I thought I checked for this situation...

It is highly likely that the code is mistakenly evaluating the Chebfun2 at
the `n^2` points  `(s(j),s(k))` and then throw away all of them apart from
those on the diagonal.

This can be easily fixed by checking the size of the input arguments to
feval.

[2015-05-12 19:09] bhashemi opened #1491 "Tolerance issue in Phase I of Chebfun2 constructor"
Consider the following example:
[code]
Having 257 coefficients in the x-direction is reasonable but it seems that we should be able to reduce the number of coefficients in the y-direction from 129 to 33 or at most 65. The reason we have this issue is that the grids used in Phase I of the Chebfun2 constructor are always "square"
[code]
and we allow rectangular grids in Phase II. We might want to im

[2015-05-12 19:19] ajt60gaibb commented on #1491
I am not sure what is happening here: `sin(80x+y)` is a rank 4 function. It should go to phase 2 on a grid of size 17 or maybe 33.

Sounds like a tolerance issue to me.

[2015-05-13 08:19] bhashemi commented on #1487
This is indeed the case. Here is an easy fix by applying the following changes to Lines 85-89 of `chebfun2/feval`:

``
    else
%        takeDiag = 1; % B.H.
        takeDiag = 0; % B.H.
    end

    % Evaluate:
    if ( min(size(x)) == 1 && all(size(x) == size(y)) ) % B.H.
        out = feval(cols, y(:)) .* feval(rows, x(:)) * diag(D); % B.H.
    else % B.H.
        out = feval(cols, y(:)) * D *

[2015-05-13 10:49] #1482 closed

[2015-05-13 11:51] nickhale commented on #1486
This is a essentially a problem of vertical scales. The `chebfun` constructor tries to construct relative to a vertical scale, but what does this mean for a function which is unbounded? (See #108.) To perform this relative construction, the constructor keeps track of **the maximum of all sampled values (with the exception of inf *)** during the *entire* construction process.

The reason the exampl

[2015-05-13 12:04] nickhale commented on #904
Can this issue be closed?

[2015-05-13 12:46] bhashemi commented on #1491
Yes I agree. This is a tolerance issue. We can see a rapid decay in the values of the first two pivots in comparison with the remaining pivots.

![untitled](https://cloud.githubusercontent.com/assets/9217439/7610631/4773a2ec-f976-11e4-9bcf-6a34ffe6048c.png)

[2015-05-13 12:50] ajt60gaibb commented on #1491
So it looks like the tolerance needs to depend on derivative information.

This makes sense.  See: http://en.wikipedia.org/wiki/Condition_number#Several_variables
(It should probably be respecting the absolute condition number of a function, not that relative one).

[2015-05-13 14:44] nickhale opened #1494 "Indefinite integrals and periodic boundary conditions."
I'm struggling to understand how to implement BVPs and PDEs with periodic boundary conditions and `trigtech`-based discretisations.

I can see why `trigtech/cumsum()` only supports functions with zero mean, but there must be a way to enforce periodic boundary conditions on, say, an integro-differential equation using a `trigtech` basis? In particular, I could quite happily do this if I used a `che

[2015-05-13 15:21] gradywright commented on #1494
I think @Hadrien-Montanelli may be the better person to comment on this since he was responsible for the `@trigcolloc` code.

I am a little confused by the question.  What do you mean by enforcing a constraint such that constants integrate to zero?  For many (all?) BVPs with periodic boundary conditions the solution will only be unique up to a constant.  So are you saying we need a way to set up t

[2015-05-13 16:33] bhashemi commented on #1491
Here is my suggestion for a new `tol` in Chebfun2 constructor, based on the above suggestion by @ajt60gaibb :
`
df_dx = diff(vals,1,2) ./ diff(xx,1,2); % xx changes column-wise

df_dy = diff(vals,1,1) ./ diff(yy,1,1); % yy changes row-wise

df_dx = df_dx (1:size(df_dx,2),:); % Throw out last row of df_dx, where we don't have df_dy.

df_dy = df_dy (:, 1:size(df_dy,1),:); % Throw out last column of

[2015-05-13 16:55] ajt60gaibb commented on #1491
Seems reasonable to me.   Not sure about the absolute maximum entry of the Jacobian. The infinite norm makes more sense, perhaps? Or maybe not? It's a factor of at most `2` anyway...

Does it work?

[2015-05-13 17:13] bhashemi commented on #1491
Yes, it works for `f = chebfun2(@(x,y) sin(80*x+y))`. The rank is now 2 (instead of the old value of 7) and we have:
`

ans =
   257

ans =
    33

`

I didn't try other functions though.

[2015-05-13 17:23] bhashemi commented on #1491
I agree that the inf-norm makes more sense. So, I replaced the max-entry with the inf-norm. The above result remains the same. Here is how it looks as a function:
`
function tol = newTol(xx, yy, vals, grid, dom, pseudoLevel)
`
`
df_dx = diff(vals,1,2) ./ diff(xx,1,2); % xx changes column-wise
`
`
df_dy = diff(vals,1,1) ./ diff(yy,1,1); % yy changes row-wise
`
`
df_dx = df_dx (1:size(df_dx,2),:); %

[2015-05-13 19:00] ajt60gaibb commented on #1491
@bhashemi, are you sure it should not be  `max_{x,y} ( \|J( x,y )\|_\infty )`?  It does not look like your code is doing that... or maybe I am mistaken?

Anyway, if all the tests pass then something like this must be an improvement.  Great stuff.

Does this tolerance also go into phase 2?  I guess it should do.

[2015-05-13 21:35] bhashemi commented on #1491
Let's review what we are supposed to do here. The Jacobain of the 2D function `f` is a row vector containing two partial derivatives at a specific point (x,y). We compute its `inf-norm` as follows
`
J = max(abs(df_dx),abs(df_dy));
`
So, this `J` is a _matrix_ containing inf-norm of the Jacobians at all the points. Then, we should have computed the maximum of `J` over all x and y.  This is what
`
J

[2015-05-14 08:17] nickhale commented on #1494
Sorry, I think I was a little confused by my question too.

I think what it boils down to is: is it possible to solve (generalish) integro-differential equations with periodic boundary conditions?

Let's take, for example, `u''(x) + int_{-1}^x u(t) dt = 1, x in [-1,1]` with periodic boundary conditions. That is,
[code]
Is that well-posed? If so, can we solve this in Chebfun currently? If not, can

[2015-05-14 10:39] bhashemi commented on #1491
I had to apply 2 modifications to the formula in order to pass all the tests in `chebtest('chebfun2')`. Here are the two changes:
1) For the function `f = @(x,y) (1./(1+1e-3*(((x+1)/2-.3).^2+((y+1)/2-.3).^2)));` which is the last function in `chebfun2/test_battery.m`, we have
`Jac_norm = 6.9452e-04`. Therefore, the formula
`
tol = grid.^(2/3) * max( max( abs(dom(:))), 1) * Jac_norm * pseudoLevel
`

[2015-05-14 11:48] Hadrien-Montanelli commented on #1494
For ODEs:
See http://www.chebfun.org/examples/ode-linear/FourierCollocation.html for more details and references.

For integro-differential equations:
I don't have any reference but I the following code

[code]

suggests that we should be able to solve the problem with trigcolloc/cumsummat when
a=k^2 for `diff(u,1) + a*cumsum(u)=1`
a=1i*k^3 for `diff(u,2) + a*cumsum(u)=1`

[2015-05-14 12:22] nickhale commented on #1494
So periodic solutions only exist in certain special cases?

Since Chebfun will *always* return a result without any kind of warning, this seems bad.

[2015-05-14 16:03] asgeirbirkis commented on #1448
It seems to me that those tests have now been reinstated. However, there are some tests still in that branch with disabled tests, namely `chebtech/test_qr`, `trigtech/test_qr` and `trigtech/test_cumsum`. What's the reason for that? Not sure whether the branch should be merged until that gets sorted, as it indicates that some functionality is now missing.

[2015-05-14 17:28] jaurentz commented on #1448
The `qr` routines in `chebtech` and `trigtech` have a fundamental flaw in their design. This flaw was triggered by the tighter tolerance enforced in the `feature-prescribed-eps` branch. Anthony and I have discussed some possible solutions but we have not begun making any changes. Alex recently made some changes based on his `dlt` code, so I'm not sure where the code currently stands. It may be too

[2015-05-14 17:30] asgeirbirkis commented on #1448
OK, noticed another one, ` tests/chebtech/test_extractBoundaryRoots.m` (`pass(n,9)`), comments on that?

[2015-05-15 11:12] asgeirbirkis commented on #1448
@jaurentz , at the moment, there are six files out of 165 that are holding up the pull request -- once they've been addressed, I'm happy with merging.

1. `chebtech/test_qr` and `trigtech/test_qr`: Could you please create an issue describing the flaw in their design, and include in it that those tests in question should be reinstated once resolved.

2. I don't see why the tests in `chebtech/test_e

[2015-05-15 11:58] jaurentz commented on #1441
Here is a similar example of the failure using the `chebtech1` class and Householder QR.
[code]
The `trigtech` failure above is also due to the Householder QR used in the `abstractQR.m` routine. For speed reasons, the continuous QR factorization is computed in value space. The danger with this is that if not enough points are chosen the inner product is computed inaccurately. This is exactly what

[2015-05-15 12:00] jaurentz commented on #1448
@asgeirbirkis, here is the current state of the above issues:

1. Issue #1441 gives a simple example where `trigtech/qr.m` fails. I've added a more detailed description of what the underlying problem is and included a `chebtech` example.

2. Both `extractBoundaryRoots.m` and `trigtech/cumsum.m` gave undesirable behaviour due to
the tighter tolerances in `feature-prescribed-eps`. In both files I ha

[2015-05-15 12:03] asgeirbirkis commented on #1441
In merging #1474, two tests in `chebtech/test_qr` and `trigtech/test_qr` got disabled because of this issue. Once we close this ticket, we should reinstate those tests.

[2015-05-18 08:21] nickhale opened #1499 "Quasi-Chebyshev interpolation?"
The default sampling strategy in Chebfun (at the time of writing) is 2nd-kind Chebyshev points with nested sampling. As a reminder, that means that since the every other node in grids of the size 1, 3, 5, 9, 17, ... 2^n+1, ... also appears in the next grid in the sequence, evaluated function values can be reused.

Quasi-Chebyshev nodes satisfy a similar property, but where the grid sizes grow like

[2015-05-18 08:29] trefethen commented on #1499
I'm skeptical about this idea -- a decade of Chebexperience has shown us that even `resample` on or off makes little difference to get excited about.  My feeling is that this is an academic distraction that could add complexity with little benefit.  Of course I am happy to see evidence that this skepticism may be unjustified.

[2015-05-18 09:45] jaurentz commented on #1479
Right now we've only disabled `epslevels`, with plans for removal in the future. Is a straight forward thing to disable `vscales` before completely removing it?

[2015-05-18 09:57] aaustin141 commented on #1479
@jaurentz:  Just to be clear, the proposal is not to eliminate the `vscale` concept (like we've more or less done with `epslevel`; we've just kept the code lying around because we may try to reintroduce it in the not-so-distant future).  It's just to compute `vscale` only on-demand instead of updating it at the end of every operation and storing the result.

I'm generally in favor of doing this, a

[2015-05-18 09:59] nickhale commented on #1479
But since accessing properties is so slow in MATLAB, we might actually _gain_ from this..

[2015-05-18 10:01] trefethen commented on #1479
I very much support the idea: I like simplicity.

[2015-05-18 10:03] aaustin141 commented on #1479
I'm not contradicting that; to the contrary, I think this is probably true.  I'm just saying that we should measure to be sure.

[2015-05-18 10:22] nickhale commented on #1479
OK - cool.

[2015-05-18 12:48] nickhale commented on #1479
I decided to take a quick look at this. It seems pretty simple.

On question that arises is, what to call the method which now returns the vscale?

Previously `.vscale` was a property, so we weren't allowed a `vscale()` method. Instead we have a `getVscale()` method.

Now `.vscale` is gone, `vscale()` seems the obvious name for the method. However, a lot of the time we used `vscale` as a variable

[2015-05-18 13:28] nickhale commented on #1479
I also notice that a **lot** of the `vscale` stuff is just being used to determine an updated `.epslevel`. If `epslevels` get totally removed then things become even more transparent.

[2015-05-18 13:37] jaurentz commented on #1479
From what I've seen so far, it appears that the change to `vscales` and removal of `epslevels` needs to be done simultaneously. I am all for this but I need to know how the `vscale` change should be handled before I can proceed.

[2015-05-19 12:50] #1276 closed

[2015-05-20 13:45] #1366 closed

[2015-05-21 12:21] ajt60gaibb opened #1505 "Chebfun2v roots fails on linear example"
I have been playing a lot with `chebfun2v/roots` recently and there is an example where it misses a well-conditioned root:

[code]

It actually has a solution inside `[-1,1]x[-1,1]`:

[code]

See also:
[code]
![intersection](https://cloud.githubusercontent.com/assets/1814063/7748454/c6bb51cc-ff92-11e4-90a9-4a5db9419084.png)

[2015-05-21 12:27] aaustin141 commented on #1505
Is this perhaps related to #1232?

[2015-05-21 12:33] ajt60gaibb commented on #1505
Oh, yes. It is!  Thank you for the reminder.  If I do the same trick as in #1232 and change `eps` to  `eps/10`, then `chebfun2v/roots` works on the example above. But, I still do not understand why an `eps` perturbation to the Bezout resultant matrix removes a well-conditioned solution that is in the interior of the domain.

[2015-05-21 14:30] aaustin141 commented on #1505
OK.  In my case, changing `eps/2` to `eps/10` does not work.  Neither does changing it to `eps/100` or even to `0`.  I can only get an answer in this case when I comment out [the offending lines](https://github.com/chebfun/chebfun/blob/9e28b8fa7a2f90f0299acc7f1b61cf5730fe7ed6/%40chebfun2v/roots.m#L385-389) entirely.  My `B` array just prior to executing these lines is the following:
[code]
Immedia

[2015-05-22 15:32] nickhale commented on #1486
This is also a problem.
[code]

I will push a fix to the same branch.

[2015-05-22 15:33] nickhale commented on #1486
et voilà
[code]

[2015-05-23 09:22] asgeirbirkis opened #1506 "Multiple outputs from chebop \"
An issue brought to my attention by @trefethen is that when we solve coupled systems with `chebop`, one has to use notation as follows:
[code]
It is possible to enable syntax such as
[code]
I remember discussions about doing so, but can't remember why we didn't go through with it. My view is that the latter syntax looks nicer, any objections to incorporating it?

[2015-05-25 17:11] aaustin141 opened #1507 "Failure of pole-only singularity detection when constructing a function"
A user recently sent us the following construction, which fails pretty badly:
[code]
@nickhale and I have been investigating this.  Initially, it seemed that the problem should be dealt with by his fix for #1486, but this is not the case.  In fact, the above computation (along with the other computations in this writeup) was done while on the branch up for review in #1493 containing the fix for th

[2015-05-26 09:12] aaustin141 commented on #1505
I think I've finally figured this out.  It has nothing to do with getting rid of negligible components of the `B` array.  Instead, it's a bug in the part of the `chebT1rtsmatgep` subroutine that handles the linear case, namely [this line](https://github.com/chebfun/chebfun/blob/9e28b8fa7a2f90f0299acc7f1b61cf5730fe7ed6/%40chebfun2v/roots.m#L639).  I think the arguments to `eig` here have been rever

[2015-05-26 13:00] #1505 closed

[2015-05-26 14:06] ajt60gaibb commented on #1487
This has been fixed in #1502.

[code]

[2015-05-26 14:06] #1487 closed

[2015-05-27 09:37] nickhale opened #1509 "ultraS representations from diffmat() and additional outputs."
As far as I can tell, it isn't possible to obtain ultraS differentiation matrices from `diffmat()`. Is there a reason for this?

Furthermore, it would be useful if the `diffmat()` function returned (optional) additional outputs depending on the type of discretisation requested.

For example:
 (a) The rectangular projection matrix if cheb1 or cheb2 collocation is used.
 (b) The conversion matrices

[2015-05-27 12:36] kuanxu commented on #1509
@nickhale I totally agree that we should have additional outputs, for both (a) and (b). Both of them are easy to implement, as we have the code in the bitbucket repo for our paper, right?

[2015-05-27 12:38] ajt60gaibb commented on #1509
What is wrong with  `ultraS.diffmat` and `ultraS.convertmat`?

[2015-05-27 12:51] nickhale commented on #1509
Because it's not _immediately_ obvious which conversion matrix corresponds to which differentiation matrix, particularly since the help text of `ultras.convertmat` is still wrong:
[code]
[code]

 * (a) The method doesn't appear to be private.
 * (b) If `K1` = `K2` I should expect to get an identity matrix, no?

Also `[D, S] = diffmat(5, 2, [0, 1], 'ultras');` seems nicer than
[code]
?

[2015-05-27 16:47] aaustin141 commented on #1340
Closed in #1502.

[2015-05-27 16:47] #1340 closed

[2015-05-27 17:10] #1332 closed

[2015-05-27 17:36] asgeirbirkis commented on #405
With the introduction of `pde23t`, are we happy to close this issue?

[2015-05-28 09:24] nickhale commented on #405
:+1:

[2015-05-28 16:26] #1372 closed

[2015-05-28 18:12] tobydriscoll opened #1512 "IVP solver is wrong for short forcing pulses"
There is something wrong with the IVP solver with certain forcing functions:

[code]
Obviously, this is just exp(-t).

If we put in a pulse for the forcing function:
[code]
The new solution checks out. But if the pulse duration is too short, the solution doesn't even see it.

[code]

[2015-05-29 09:52] nickhale commented on #1512
This seems to be an issue with the MATLAB IVP solvers in general, rather than being Chebfun specific:
[code]

[2015-05-29 12:55] asgeirbirkis opened #1513 "What should we return if user calls f.epslevel?"
Currently on the master branch, we try to give meaningful answer when a user enquires the epslevel of a function (although exactly how meaningful it is, and what the actual meaning is is debatable):
[code]

However, with the merge of #1474, which disabled epslevels but didn't remove them, it is still possible to enquire a `chebfun` about its epslevel, however now, the result will be (even more) gi

[2015-05-29 13:06] trefethen commented on #1513
Good idea.  The warning could say something along the lines of "epslevel now always returns machine epsilon and will be removed from Chebfun in the future".

[2015-05-29 13:11] asgeirbirkis commented on #405
The introduction of `pde23t` in #1481 now means that we can happily solve the problem above.

[2015-05-29 13:11] #405 closed

[2015-05-29 15:12] trefethen opened #1514 "erroneous message from `chebfun(@abs,'trig')`"
This comes up in revising the trigfun paper for _SISC_.  In the following there's an mismatch between 65536 and 65537:
[code]
Can @mhsnjvd or @gradywright or @Hadrien-Montanelli fix this message appropriately?  But in fact there's also a question of a factor of 2 here.  The actual vectors at which such a command evaluates the function turn out to have lengths
[code]
but not 65536.  What's going on

[2015-05-29 15:17] aaustin141 commented on #1514
I can answer the last one:  the reason sampling appears to stop at 32,678 instead of 65,536 is due to nesting of the grids; see #1337.

[2015-05-29 15:42] gradywright commented on #1514
I started to work out a fix for #1337 by first fixing #1336.  However, I got stuck on how best to fix #1336 given issues with `chebfunpref`.  Please see the discussion in #1336.  @aaustin141 any ideas?

[2015-05-29 16:13] #1486 closed

[2015-05-29 17:36] #1316 closed

[2015-05-30 17:34] kuanxu commented on #1464
@aaustin141 Thanks for pointing this out. The bug is now fixed by #1516 and all tests pass.

[2015-05-30 18:06] kuanxu commented on #1507
@aaustin141 and @nickhale: Thanks for covering this while I was out of commission last week. Since the change form -15 to -14 can fix the problem and all tests pass with the change in place, I think it's good enough. Anyway, the job for detecting the strength of singularities is ill-conditioned in nature. Could you guys go ahead to issue a pull request for your fix? I'll take care of the rest.

[2015-05-30 18:09] kuanxu commented on #1469
Resolved by #1517.

[2015-05-30 18:56] kuanxu opened #1518 "chebellipseplot and the estimated strip of analyticity/chebstrip for a trigfun"
This issue was encountered when @aaustin141 and I were investigating the stability of trigonometric barycentric formulae. For example:
[code]
gives an ellipse, instead of a strip, which is not very reasonable.
![ellipse](https://cloud.githubusercontent.com/assets/3542751/7898828/c9a52100-0704-11e5-952e-ce7cb0a947ef.png)

Should we make `chebellipseplot` work for both trig and non-trig cases by ret

[2015-05-31 11:37] aaustin141 commented on #1518
This is essentially a naming problem.  We encountered it once before with `plotcoeffs`, and I'd vote that we solve it the same way.  What we need is a function with a name along the lines of `plotRegionOfAnalyticity` (NB:  I'm not actually proposing this as the name; it's just an example.) which, maybe after some preprocessing for arguments to `plot`, delegates the responsibility for drawing the r

[2015-05-31 12:04] aaustin141 commented on #1514
@gradywright:  Thanks for reminding me that we'd visited this issue before in #1336.  See #1520.  I've implemented my suggestion from #1336 to merge the tech preferences "on-demand" whenever we need them.  I didn't notice any slowdown from doing this, so I guess we're set.  Once those changes get merged, you should be able to set the default value for `maxLength` in `@trigtech/techPrefs.m` as you

[2015-05-31 12:38] trefethen commented on #1518
Thank you @aaustin141.  I like this idea and may I suggest the name `plotregion`?  (For consistency with  other Matlab/Chebfun conventions and `plotcoeffs`, it would not be `plotRegion`.)

Regarding what we tell users, however, I have a concern that I shall spell out in a new issue #1519 in a moment.

[2015-05-31 12:52] trefethen opened #1521 "Help text in `plotcoeffs` and `plotregion`"
In connection with #1518 I've just looked at the help text for `plotcoeffs`, which presumably will be a model for the help text for the new `plotregion`.  I would like to suggest a change to make this text meaningful for users.

What does `plotcoeffs` plot?  Currently users are told the following:
[code]
I see two related issues with this.  First, it is obscure and doesn't tell people that we're t

[2015-05-31 13:29] kuanxu commented on #1518
@aaustin141 and @trefethen Points taken. I'm on it.

[2015-05-31 14:26] gradywright commented on #1518
Just for the record, I created `fourstripplot`, which then became `trigstripplot` after the name change four-->trig.  Any implementation issues are my fault.

I do remember testing the method and finding the original estimate for the boundary (given by `a`) gave better results than the one that #1519 uses.  I recall getting the estimate from @trefethen's trapezoidal rule paper.

[2015-05-31 14:51] kuanxu commented on #1518
@gradywright Sorry for messing up with the true author!

Actually, I tried to re-derive your estimate with @trefethen's trapezoidal rule and the trigfun paper. But I failed. The estimate you gave is `2/N(k)/pi*log(4/EPS+1)`. I couldn't see why the `+1` in log(4/eps+1) is helpful, neither the factor `4`. In fact, `N(k)` in your code is the degree of the trigonometric interpolant. If, instead of the

[2015-05-31 14:51] kuanxu commented on #1521
Should we also remove the words "If S contains a string 'NOEPSLEVEL', the epslevel is not plotted."? Anyhow, we are not plotting `epslevel` now. But if people think that we should do that after some months have elapsed, I'm totally OK.

[2015-05-31 14:57] trefethen commented on #1521
Yes, we should certainly remove those words!  Thanks for noticing.

[2015-05-31 15:41] gradywright commented on #1518
I used (3.24) of @trefethen's trapezoidal rule paper to get the estimate.  You are right that the term + 1 makes little difference, I think what I was going for in including it was so that others would be able to tell where the estimate comes from.  Clearly I failed with that.

[2015-06-01 07:55] #1469 closed

[2015-06-01 09:01] aaustin141 commented on #1514
@gradywright:  @nickhale merged #1520 a short while ago, so you should be good to go.  Let me know if you run into any other issues.

[2015-06-01 09:19] #1513 closed

[2015-06-01 12:08] gradywright commented on #1514
Thanks @aaustin141 (and @nickhale).  I will start working on this today.

[2015-06-01 15:10] kuanxu commented on #1518
@gradywright Thanks for pointing out that. I see why you have `2/N(k)/pi*log(4/EPS+1)` from (3.24).

But my understanding is that (3.24) is the error bound for the trapezoidal rule, not for interpolation. If you look at Eqn (8.6) of ATAP or section 3 (p. A3011-A3012) of [Webb etal. 2012](http://epubs.siam.org/doi/abs/10.1137/110848797), you'll probably find that Eqn (4.2) of [Wright etal. 2015](ht

[2015-06-04 13:35] tobydriscoll commented on #1512
The ode solvers have a MaxStep property that could be set to, say, no more than a third of the length of the smallest subinterval.

[2015-06-04 14:46] tobydriscoll commented on #1512
Never mind, that's a terrible idea. MATLAB recommends the stop/restart trick in the docs:

"To make sure that the solver doesn't step over some behavior that occurs only once during the simulation interval. If you know the time at which the change occurs, break the simulation interval into two pieces and call the solver twice. If you do not know the time at which the change occurs, try reducing th

[2015-06-04 14:57] nickhale commented on #1512
One of the big performance gains in `pde15s()` from V4 to V5 was avoiding exactly this issue (i.e., bailing out of the ODE solver and restarting). However, there we were doing that 100s of times (one per time step) in every problem. I guess here it would just be once per interior breakpoint (if there is one).

It's annoying that the MATLAB solvers don't allow adding waypoints (i.e., t values which

[2015-06-05 12:04] asgeirbirkis commented on #1512
We actually propagate breakpoint information for coefficients when we do the first order reformulation, so the stop/restart trick is definitely an option. I'll investigate this further.

[2015-06-05 15:27] aaustin141 opened #1528 "Reintroduce mappings for dealing with singularities."

[2015-06-05 15:27] #1528 closed

[2015-06-05 15:27] aaustin141 opened #1529 "Reintroduce mappings for dealing with singularities."

[2015-06-05 15:28] #1529 closed

[2015-06-05 16:03] aaustin141 opened #1530 "Reintroduce mappings for dealing with singularities."
In Chebfun v4, we had the ability to deal with singularities by using mappings in addition to using exponents.  In v5, we currently only have the latter.  It would be good if we could reintroduce them, as it will allow us to represent more types of singular functions, the standard example being `1 + sqrt(x)`.  In v4, we can do this with:

[code]

In v5, however, we're currently stuck:

[code]

For

[2015-06-07 09:30] nickhale commented on #1530
I implemented a quite proof-of-concept of this idea which can be found in the branch `feature-singmap-fun`. Here are some examples:
[code]

[code]

Note 1: The UI here isn't the point here. The point is that we **can** represent such functions in this way. My suggestion would be that the first task is to implement a class which can properly work with such representations, and then focus on how to

[2015-06-10 16:22] asgeirbirkis opened #1531 "When and where to cut solutions of linear BVPs"
@jaurentz spotted some peculiar behaviour of the solution process for linear BVPs (and thus, for the solving of Newton updates) which he brought to my attention, and I'm now convinced this is necessary fixing. It can be summarized as follows:

In `linop/linsolve` (lines 147-149), while iterating over different discretizations, we repeatedly call
[code]
This gets repeated until ```isDone = true```,

[2015-06-10 16:34] trefethen commented on #1531
I agree, and these tails have often embarrassed me in talks.

There's a (happy) complication: @jaurentz and I are engaged in trying to modify Chebfun's ODE chopping strategy more fundamentally, giving it and the constructor and `simplify` all the same chopping rules (currently called `standardChop`, though that may evolve).  If we are successful, a solution to this problem reported in this issue w

[2015-06-11 23:56] gradywright opened #1532 "Evaluation of a chefun2 using row vectors"
Is the following really the desired behavior in terms of the dimensions of the output?

[code]
I would expect the dimension of the output to match dimension of the input, which is what you would happen with the function that was passed in.

I say "really" because there is a test that checks to make sure this is the right behavior (test 20 and 23 in `chebfun2/test_feval.m`).  If the code if changed

[2015-06-12 12:08] jaurentz commented on #1531
Can we not also unify the behavior for IVPs? Shouldn't these all be fundamentally the same?

[2015-06-13 16:20] awsimpson opened #1536 "Squaring mixed partial derivatives that should be 0"
I've encountered a problem with squaring a vanishing mixed partial derivative. For example,

[code]

does not run. Can anyone provide a solution or a practical work-around?

[2015-06-15 10:15] aaustin141 commented on #1536
It looks to me like what's happening here is that the squaring operation invokes the `chebfun2` constructor, which has trouble resolving things because of noise that arises when evaluating the (almost exactly zero) `chebfun2` for `diffx(diffy(w))`.  @ajt60gaibb:  is there anything we can do about this?

[2015-06-15 17:33] #1336 closed

[2015-06-15 17:33] #1464 closed

[2015-06-15 17:33] aaustin141 commented on #1514
Closed in #1523.

[2015-06-15 17:33] #1514 closed

[2015-06-15 17:58] aaustin141 commented on #1400
Can we close this ticket?

[2015-06-15 18:12] asgeirbirkis commented on #1400
I can't see any way getting around the fact that `x` has to be constructed as a regular `chebfun`, which will inevitable cause `diff(u) + sin(x).*u` to be a standard `chebfun`. The only way around this would be to cast `L(u)` to a `trigfun` before it's returned in `chebop/feval`, but that might have some consequences further down the road...

[2015-06-15 18:14] aaustin141 commented on #1301
Since feature-prescribed-eps was merged (and, specifically, commit 6e02ae4a), I no longer notice this issue.  `singfun` still fails to pick up the singularity, but we no longer get that the result is identically zero nearly everywhere.  I'm going to mark this as closed.  If anyone else starts to see this behavior again, feel free to re-open or file another ticket.

[2015-06-15 18:14] #1301 closed

[2015-06-15 18:20] aaustin141 commented on #1290
Like #1301, I'm now seeing this as resolved with the merging of feature-prescribed-eps (specifically, commit 6e02ae4a).  @trefethen, can you please confirm when you get a chance and close this issue if that is the case?

[2015-06-15 18:38] aaustin141 commented on #1400
Yeah... that was what I was thinking, too.  I don't see a way to do this without making it such that `x` is not a `chebfun` but some object that, when passed through a bunch of function handles, ends up giving us a "recipe" for building a `chebfun`, which we can then later opt to build using `trigtech`, but that may be too complicated to be worth doing.  I vote to close on those grounds.

[2015-06-16 07:52] asgeirbirkis opened #1538 "waterfall after solving a PDE takes a long time to be displayed"
@trefethen and I were playing with the PDE solvers of Chebfun last week, and noticed that it takes the waterfall plots we often show after solving a PDE a long time to be actually displayed. At least this is the case for Matlab 2014b on a Mac.

For example, try running the following periodic Allen-Cahn PDE.  Notice that the output from the second `toc` doesn't really represent what goes on, i.e. i

[2015-06-16 09:30] asgeirbirkis commented on #1400
I concur.

[2015-06-16 09:46] #1400 closed

[2015-06-18 09:52] #1506 closed

[2015-06-19 10:42] ajt60gaibb opened #1541 "The commands cart2pol(), sph2cart(), and cart2sph() are not in Chebfun2"
Chebfun2 does not have the commands  `cart2pol()`, `sph2cart()`, and `cart2sph()`.  Should it?

[2015-06-19 13:20] ajt60gaibb opened #1542 "Why is chebtech/qr not done like this?"
Hi @nickhale and @trefethen,

Is this a viable way to do `qr()` in `chebtech`?   On my machine it is x2 slower than the `chebtech2/qr()`, but with a bit of Nick Hale magic that could change.  It is certainly a simple approach.

Idea:  Use the Legendre basis to relate the continuous QR to the discrete QR. Then, use discrete `qr()`.

[code]

You can check that it computes the right thing with this c

[2015-06-19 13:30] aaustin141 commented on #1542
To be clear---`chebtech` already does QR; there aren't specific `chebtech1` and `chebtech2` overrides for the `qr` method.  What you're suggesting is that we move to doing QR in coefficient space instead of in value space like it currently is, right?

[2015-06-19 13:34] ajt60gaibb commented on #1542
`chebtech1` and `chebtech2` both use the same Chebyshev basis so the code above works equally in both cases.

Yes. I was asking why not use Legendre coefficients rather than values taken at Legendre points.

[2015-06-19 14:32] nickhale commented on #1542
Your way is certainly viable. I would expect the timings to be about the same. (You can probably speed up your code a little by doing the multiplication by `Ds` before you construct the `chebtech2`. Also the multiplication by diagonal matrices might be made faster using sparse or bsxfun.)

Values requires:
 * ndct, idlt and leg2cheb
Coeffs requries:
 * cheb2leg and leg2cheb

Since the idlt is a tr

[2015-06-19 14:41] ajt60gaibb commented on #1542
OK. And, this way will be a handful of lines.

Here, the code is the same for small `n` because then `cheb2leg` and `leg2cheb` already use the direct approach.

[2015-06-19 14:48] nickhale commented on #1542
If you get rid of the fluff then the existing approach is also just a couple of lines.

The code could be the same for the values approach also, but we don't do so in order to take advantage of caching (which is mostly for the benefit of Chebfun2).

[2015-06-19 14:54] ajt60gaibb commented on #1542
Ah, OK.   @nickhale, if you tell me coefficients is worth it then I can implement something.

Two reasons why coefficients may be better:

1. It may (very!) slightly more accuracy.   In principle one could use the decay in the columns to derive a better than 16-digit absolute QR in coefficient-space. Not very important, I suspect.

2. It fits more neatly at the `chebtech` level because everything

[2015-06-19 15:16] nickhale commented on #1542
I'm not sure it's worth it.

As a side note, perhaps it's worth doing the *small* n in coefficient space. I image it's faster to set up the Vandermonde matrix using Legendre recurrence than it is to form the barycentric matrix?

[2015-06-19 15:21] ajt60gaibb commented on #1542
OK. Let's stop the discussion here then.  Thanks!  And nice to keep in mind.

I did a few tests and my updated code is roughly the same speed as what is implemented already.  I'll post it in case we need it in the future:

[code]

I do not think it is worth doing anything just for small `n`.

[2015-06-19 15:21] #1542 closed

[2015-06-27 08:45] jrus opened #1544 "chebfun2 with periodic functions in only one dimension?"
As far as I can tell it’s only possible to have Chebfun2s be non-periodic or periodic in both dimensions at once (“rectangle mode” and “torus mode”). Is there any way to make it periodic in only one dimension (“cylinder mode”)?

[2015-06-27 09:59] jrus opened #1545 "exporting chebfuns as piecewise cubic beziers for plotting"
Currently anything related to plotting seems to happen through Matlab’s plotting system. This has the advantage of being familiar to Matlab users, presumably relatively straight-forward to implement, and easy to export as vectors or bitmaps. The resulting vectors (postscript format) files aren’t ideal though. Matlab applies very heavy rounding of point positions, to only a few significant figures,

[2015-06-27 10:33] jrus opened #1546 "some kind of portable standard chebfun data format for export"
One thing that could be pretty neat is a limited implementation of Chebfun in other programming languages that supported nothing but function evaluation, and possibly a small number of other features. A sort of “Chebfun viewer” library, as it were.

There are many places where it might be nice to use a Chebfun outside of Matlab, just treated as a black-box function, without necessarily a need to u

[2015-06-27 11:20] jrus commented on #1470
You have to think about it as mirroring as closely as possible the semantics of Matlab, rather than the semantics of some other language or mathematical language more generally. In the context of Matlab, pretty much all the choices the Chebfun team made are quite sensible. Coming from another environment, some of them cause some head scratching though, to be sure.

[2015-06-27 19:23] gradywright commented on #1544
This is not possible yet, but we are working on it.  Once #1471 is merged, this feature will be added.

[2015-06-28 09:03] jrus commented on #1545
Well, there seems to be a pretty enormous number of relevant papers here, and I’m slightly lost, but it seems like this algorithm could work if trying to get a (at least locally optimal; not sure it hits a global optimum) min-max C1 spline approximation, if implemented with the appropriate modifications to work with continuous functions and integrals instead of discrete sums.

Might be useful some

[2015-06-28 23:02] jrus commented on #1545
For the case where the line is all we care about (not the specific parametrization), Raph Levien’s PhD thesis has some nice material, starting from page 135:
http://www.levien.com/phd/thesis.pdf

Specifically, he wanted to convert piecewise clothoids to piecewise bézier segments, with applications to font rendering.

One interesting thing is his error metric. Rather than judging a bézier approxima

[2015-06-29 07:19] ajt60gaibb commented on #1536
This is just embarrassing, though it is to do with the fact that `diff` loses a digit of accuracy and that `w_{xy}` is zero.  Thus, the Chebfun2 constructor tries to resolve it to 16 relative digits when only 16 absolute digits is possible.

I believe we need to change `chebfun2/power()` a little.

Here is an embarrassing workaround for now, but this is not how one should use Chebfun2:

[code]

[2015-06-29 07:22] ajt60gaibb commented on #1532
I guess this is not the desired behavor:
[code]
I am sure when I tried that two years ago, I got a column vector...

[2015-06-29 07:22] ajt60gaibb commented on #1491
Can this be closed now?

[2015-06-29 10:51] #1491 closed

[2015-06-30 10:14] trefethen commented on #1290
Looks good, thanks.

[2015-06-30 10:14] #1290 closed

[2015-07-01 11:14] nickhale opened #1549 "Remove vscale (and hscale) from trigtech"
The `.vscale` property has been removed from the `chebtech` classes. This hasn't yet been done for `trigtech`.

#1548 also removes `.hscale` for `chebtech`s. If this is merged then this will also need to be done for `trigtech`.

[2015-07-01 12:45] asgeirbirkis opened #1550 "Simplification of cheboppref.discretization"
@Hadrien-Montanelli and I have been talking about changes that need to be made to the code with the upcoming merge of #1496 . One of the things that it'll introduce is yet another option for `cheboppref.discretization`, e.g. something like
[code]

Instead of keep adding complicated options to cheboppref, we suggest that the two options that we advertise will be
[code]
and
[code]
The `chebop` codes

[2015-07-01 12:54] asgeirbirkis opened #1551 "Renaming of discretization classes"
Another issue arising from a discussion between @Hadrien-Montanelli and me.

At the moment, the top class for any discretization class is `chebDiscretization`. This has started to get confusing, now that we are soon to have two Fourier based discretization classes with the merge of #1496, as `chebDiscretization` sounds like it's Chebyshev based (although one interpretation is that it's a "discreti

[2015-07-02 14:45] asgeirbirkis commented on #1545
Hi Jacob,

Thanks for getting in touch! I don't think anyone of the current Chebfun team is  a graphic expert enough to be able to help out with the implementation of your ideas for generating curves for plotting; however, if you write your own implementation and generate graphics for embedding in web pages, please send us links to the results!

Best,
Asgeir

[2015-07-02 18:40] jrus commented on #1545
Okay, I’ll see what I can come up with. This more takes spline experience / polynomial approximation experience than graphics expertise per se, but I can at least implement a relatively inefficient and suboptimal first try. The results should still be useful in places where Matlab’s standard plot export doesn’t cut it.

[2015-07-02 22:32] asgeirbirkis commented on #1546
Hi Jacob,

Since Chebfun is (currently) so heavily dependent on Matlab, we believe that it's most straightforward to stick to the mat format for exporting Chebfun objects from Matlab to files. You're correct that HDF5 is widely adopted in the scientific computing community, however, until we see evidence that Chebfun implementations in other languages are gaining traction and that it'll be necessa

[2015-07-03 05:09] jrus commented on #1546
I wonder how easy it is to parse .mat files and figure out all the relevant features of a chebfun from some environment other than Matlab.

If I end up needing to evaluate chebfuns in a webpage or C program at some point, I can always just implement something narrowly tied to the specific use.

I do think at some point you’d get a worthwhile advantage from a clearly specified standard storage form

[2015-07-03 23:50] jrus commented on #1545
I was trying to see if I could reparametrize a function in terms of arclength, but that involves taking the inverse of the cumulative arclength function, and it turns out that taking inverses is one operation that is potentially *very* slow in chebfun. There’s not too much about inverting functions in the user guide. Is there anywhere else I should look for more info about `inv`? Accurately repara

[2015-07-05 12:42] trefethen opened #1554 "Can we have `start` or `begin` to go with `end`?"
In Chebfun you can write e.g.
[code]
It seems to me there should be an analogous way to get the initial value of `f`, such as `f(start)` or `f(begin)`.  Indeed I recalled discussing this some years ago, but I don't recall what happened.  Can somebody remind me if we've already got this, or implement it if we don't?

Thanks.

[2015-07-05 15:23] mhsnjvd commented on #1554
Matlab doesn't have such syntax either: it offers 'end' but no 'start' or 'begin'. One could use
[code]
but this is not as simple as f(end).

[2015-07-05 17:12] trefethen commented on #1554
Yes, and of course the reason Matlab doesn't have such syntax is that every vector begins at 1.

[2015-07-06 03:18] jrus commented on #1554
This is one of the places where semantics for a discrete array starting at 1 don’t cleanly map to the case of an arbitrary continuous interval. In Matlab, the goal of `end` is to allow counting back from the end, e.g. to pluck out the last few elements of an array (`a(end-4:end)`), or to slice off the first and last elements (`a(2:end-1)`), etc.

Chebfun doesn’t really have a syntactic analog, bec

[2015-07-06 07:04] davidagross commented on #1554
If the issue of whether to implement this resolves positively, might "start", "begin", or "cheb.start", or "cheb.begin" simply be a function handle that evaluates to f.domain(1) before being used in a deeply internal feval?

Also @jrus, I think you can evaluate f at a chebfun of new values to change the domain, no?

[2015-07-06 21:44] asgeirbirkis commented on #1550
Closed by #1552. Old syntax is still allowed (i.e. 'chebcolloc1', 'ultraspherical'), but deprecation warnings get issued.

[2015-07-06 21:44] #1550 closed

[2015-07-10 16:11] aaustin141 opened #1559 "Reverse order of coefficient input in chebpolyvalm()."
@bhashemi and I were looking at a question that a user recently posted to help@chebfun.org about `chebpolyvalm`, which takes as an argument a vector of Chebyshev coefficients (as opposed to a `chebfun`).  We were surprised to find that this input to this function is required to have the old, MATLAB-style coefficient ordering, which puts the coefficient corresponding to the polynomial of the highes

[2015-07-11 09:13] trefethen commented on #1559
Sounds good to me.  Thanks for spotting this.  Alas I guess this means there should probably be a warning message alerting people that the syntax has been reversed?

[2015-07-14 12:09] ajt60gaibb commented on #1554
The analogue to `A(j:k)` in Chebfun is `f{a,b}`, which restricts `f` to the interval `[a,b]`.

[2015-07-14 18:42] ajt60gaibb opened #1560 "Singfun problem when testing orthogonality of chebpoly"
It seems that Chebyshev polynomials `T_k(x)` are not orthogonal in Chebfun.

[code]
![orthogonality](https://cloud.githubusercontent.com/assets/1814063/8681473/8bed06ee-2a35-11e5-8a43-21fd0d2c8afe.png)

I assume this is an issue in `singfun/sum`. It looks like when `n` is of the form `1+k*32` there can be trouble. Compare

[code]

[2015-07-14 20:47] nickhale commented on #1560
I think it's an aliasing issue rather than one of orthogonality. In particular, `singfun.constructSmoothPart()` explicitly disables `sampleTest` for some reason.

[2015-07-15 02:41] jrus commented on #1554
Aha, thanks! I didn’t know about that one. Does the `end` keyword work in that context, and can it be used in an expression like `f{end-2, end-1}`? I assume a proposed `begin` or `start` would work there as well?

The curly brace interval notation does seem to get one brief and not-all-that-explicit mention in the Chebfun guide in chapter 4, from a line in the middle of other exposition. Among the

[2015-07-16 09:19] nickhale opened #1561 "Incorrect domain scaling for Neumann BCS in Chebop2."
Chebop2 doesn't seem to be correctly scaling derivatives in boundary conditions when the domain is changed from [-1 1 -1 1] to something else.

Here's an example:
[code]
[code]
I specified `dudx = sin(2*pi*x)` at `x = 1`, it appears I'm getting `dudx = 2*sin(2*pi*x)`. Changing the domain to `[.5 1 .5 1]` I get
[code]

[2015-07-17 12:14] kuanxu commented on #1560
@nickhale is right. It's an aliasing problem as `sampleTest` is turned off deliberately in `constructSmoothPart@singfun`. In the absence of `sampleTest`, the length of `chebpoly(k)./ sqrt(1-x.^2)` is 1 for all problematic k. Apparently, an aliasing issue.

Here, `sampleTest` is disabled simply because of, again, ill-conditioning, the origin of all `singfun` woes. Of course, I don't like it to be d

[2015-07-17 12:32] ajt60gaibb commented on #1560
Thanks @kuanxu for your description about the situation. But, something needs to changed because it is getting the answer completely wrong.

To me it sounds like a relaxed `sampleTest` is required, not the complete removal of the test. (Though, I have not been keeping up with all the issues that you have faced.) For example, why not do something this:

[code]

[2015-07-17 16:29] asgeirbirkis commented on #1512
OK, via the restarting trick, I've got this problem sorted on a local branch.

However, we need to decide whether we only apply this trickery when problems are solved via chebop \, or whether we also apply it on the regular chebfun.ode113 etc methods. If we use it in the standard methods, those would become more than simple overloads of the standard Matlab methods, but at the same time, it would b

[2015-07-18 14:56] ajt60gaibb commented on #1561
Thanks. This is because the AD information is not being passed through `constructBC.m` correctly.

[2015-07-20 08:48] bhashemi opened #1564 "Tolerance issue in Chebfun2 rank-determination"
One expects the function `sin(20+x+y)` to be rank 2 but here is what we see
`rank(chebfun2(@(x,y) sin(20+x+y)))`
`ans =
     4`

The tolerance that Chebfun2 uses here to chop a sequence of pivots is `tol = 2.2845e-15` while we have
`pivotValue(2) =   0.9608` and `pivotValue(3) =   -3.2196e-15`.

![untitled9](https://cloud.githubusercontent.com/assets/9217439/8772445/2f8c66f4-2ec4-11e5-87f4-9cf69c0

[2015-07-20 14:58] asgeirbirkis commented on #1561
Closed by #1565 .

[2015-07-20 14:58] #1561 closed

[2015-07-21 08:41] JamesMathews opened #1566 "Chebfun failing to apply boundary conditions to operator in Matlab 2015a"
Hi

I am currently working in Matlab 2015a, with the most recent version of chebfun (installed today)

I am trying to apply boundary conditions to an operator to solve an eigenvalue problem, which works fine on my work computer (Matlab 2014a)

The problem is (roughly)

N1 = chebop(@(r,p,u,v,w) [ u+diff(p);u+v+p;u-diff(u)+w;u-2*diff(u)+v+w+p], [0.6 1])
 B = chebop(@(r,p,u,v,w) [u;1i.*v;1i.*w;p], [0

[2015-07-21 10:40] asgeirbirkis commented on #1566
Hi @JamesMathews , thanks for your message. I got some errors when I tried pasting your code and running it, it appeared to be missing some `*` characters in the operator definitions. Could you please confirm that the problem you're trying to solve is given by:
[code]
?

[2015-07-21 10:53] asgeirbirkis commented on #1566
@JamesMathews I just pushed to a branch, hotfix-linearize-params-dimension what hopefully fixes this. cf. f7a47cc0 for the changes I did. Could you please try checking out that branch (or simply editing the same lines in `chebop/linearize`), if this works for you, I'll issue a pull request for the fix.

[2015-07-21 11:27] JamesMathews commented on #1566
Yes, that is the code.

It now doesn't get the error message when I use that boundary condition. If I use a more complicated boundary condition I get a new error instead:

Error using  *  (line 100)
Unrecognized operand types.

Error in  *  (line 45)
            u = Adata{i,1} * Bdata{1,j};

Error in adchebfun/feval (line 674)
            f.jacobian = E*f.jacobian;

Error in adchebfun/subsref (lin

[2015-07-21 11:28] JamesMathews commented on #1566
I can send the m-file if it is more helpful!

[2015-07-21 15:24] asgeirbirkis commented on #1566
Yes, please do, or maybe just simplest to paste the minimum version of your failing code here (it's useful to wrap it in ```-s for Github to parse the markdown correctly). Did the fuller version of your code also work in 2014a but fails in 2015a?

[2015-07-21 15:45] JamesMathews commented on #1566
This is the mfile scripts

param just defines all the functions needed
eigenvalues computes fine on Matlab 2014a but is now giving me the error
described.

James

On 21 July 2015 at 16:24, Asgeir Birkisson <notifications@github.com> wrote:

%% eigenvalues.m -- an executable m-file for solving an eigenvalue problem.

%% Define the domain we're working on.
dom = [H, D];

beta=@(r)1-mach(r).^2./a2(r)

[2015-07-21 17:25] kuanxu commented on #1560
@ajt60gaibb Sorry for my slow action. There are basically two things we can try: A. Loosening the tolerance for the construction of `smoothPart` (i.e. relaxing techPrefs.eps). B. Relaxing the tolerance for sampleTest only. I guess you mentioned both in your comment, though you sort of tangled them up.

Theoretically, I think we should do A, rather than B. This is because all the function values sa

[2015-07-21 17:37] ajt60gaibb commented on #1560
Great!  Pleased it worked.

[2015-07-21 18:15] ajt60gaibb commented on #1564
I take the view that there are always examples like this -- whatever you do.  Note that Chebfun does not always get the degree of a polynomial correct.  Moreover, this situation is seen all the time with the `rank(A)` command in MATLAB. The solution is `rank(A, tol)`.

There was briefly a post-processing step as you describe in Chebfun2 in 2013 (a long time ago), but I removed it almost as soon as

[2015-07-22 09:53] ajt60gaibb commented on #1509
Change the code in ultraS.convertmat so the help text is correct?

[2015-07-22 13:15] asgeirbirkis commented on #1566
Hi @JamesMathews , I've been studying your code, and trying to simplify it further to catch the bug. Could you please try running the following code, and confirm that it runs without the error on 2014a (I'm not expecting it to return anything meaningful, but unfortunately, I don't have access to the 2014a version anymore). This is approximately the simplest version of your code that still gives me

[2015-07-22 13:27] JamesMathews commented on #1566
Dear Asgeir

I tried that and it works find on Matlab 2014a.

Thanks for looking into the problem!

James

On 22 July 2015 at 14:15, Asgeir Birkisson <notifications@github.com> wrote:

[2015-07-22 14:41] asgeirbirkis commented on #1566
@JamesMathews: Thanks for checking the code on 2014a. Also, just to make sure, are you running the same versions of Chebfun on your 2014a version of Matlab and the 2015a? There were some recent changes regarding the dimensions of derivatives, most importantly #1418 , and wondering whether that might be causing the current error.

[2015-07-22 14:56] JamesMathews commented on #1566
Ok

I can confirm it fails with the latest version of chebfun (installed from
github) on Matlab 2014a.
I get a bad cell reference when I try to view N1 and then it fails to solve
the eigenvalue problem.

I think the version I have is 5.2 (where it works) but can't find the exact
build number.

James

On 22 July 2015 at 15:41, Asgeir Birkisson <notifications@github.com> wrote:

[2015-07-22 15:33] asgeirbirkis commented on #1566
OK, from git bisect, I gather that dff50c2965777288bef738a4cb1510e8436f2c73 is the first bad commit. The simplified problem above works on previous commits, even in 2014b. I'll keep investigating.

@JamesMathews , to be clear, are you expecting `p` and `u` to be functions, while `v` and `w` will be scalar parameters?

[2015-07-23 09:55] JamesMathews commented on #1566
p, u, v, w are all functions of r (they are actually pressure and velocity
in three dimensions)

On 22 July 2015 at 16:33, Asgeir Birkisson <notifications@github.com> wrote:

[2015-07-23 13:23] asgeirbirkis commented on #1566
OK, so what's going on here is that because the `v` and `w` variables never get differentiated in the anonymous function defining `N1`, the `chebop/linearize` method interprets those variables as scalars, not functions. Hence, the dimensions of their derivatives becomes incorrect, which then causes the eventual error.

As a hacky fix, change line 199 of chebop/linearize on current development bran

[2015-07-30 17:55] aaustin141 commented on #1056
Resolved with #1562.

[2015-07-30 17:55] #1056 closed

[2015-07-30 17:57] aaustin141 commented on #1048
Resolved with #1562.

[2015-07-30 17:57] #1048 closed

[2015-07-30 18:07] aaustin141 commented on #941
As a point of reference, now that #1562 has been merged, we now get that this function is resolved at about 10 digits with 13,319 points:
[code]
I don't really know what, if anything, to make of this.

[2015-07-30 18:16] aaustin141 commented on #1214
With #1562 merged, we now get the following:
[code]
![1214](https://cloud.githubusercontent.com/assets/3380006/8991224/371416e6-36ef-11e5-9d9a-ddf07ba3f6ab.png)

Shall we consider this issue closed?

[2015-07-30 18:24] aaustin141 commented on #684
With #1562 merged, I now get the coefficient plot for `v_40` has length 865, and its coefficient plot looks like this:
![684](https://cloud.githubusercontent.com/assets/3380006/8991426/6a95290a-36f0-11e5-9461-6781ec4aa823.png)
Can we now mark this issue as closed and put this example up on the website?

[2015-07-30 18:31] trefethen commented on #684
Very nice.

[2015-07-30 18:37] aaustin141 commented on #685
With #1562 now merged, I no longer get the composition failures reported by @gradywright in his original post.  To see this, I had to modify the example a bit to avoid another crash due to changes in preference names from v4.  There's another crash that occurs further down in the example that also needs fixing, but I think the main problem here has been resolved.  The output I get from `chebop` wh

[2015-07-30 18:43] aaustin141 commented on #731
This issue has long since been resolved, but I figured it might be worth it to point out that with #1562 in place, the length I get here is 35:
[code]
![731](https://cloud.githubusercontent.com/assets/3380006/8991870/3d943f9c-36f3-11e5-80d6-d547710df9c8.png)

[2015-07-30 18:58] aaustin141 commented on #779
Here are some updated numbers for this issue, post-#1562, for the original example posted by @asgeirbirkis:
[code]
These numbers all look pretty acceptable to me.  Changing `pref.errTol` from `1e-8` to `1e-10` caused us to lose a digit in the interior but pick up a few in the boundary conditions.  At any rate, it's clear that the situation has improved over what it was in the original posting.

No

[2015-07-30 19:02] aaustin141 commented on #962
Now that #1562 has been merged, perhaps we should revisit this issue?  See also the more recent issue #1351.

[2015-07-30 19:06] aaustin141 commented on #1020
The example originally posted here as working now crashes for me with a dimension-mismatch error:
[code]

[2015-07-30 19:16] aaustin141 commented on #1282
With #1562 now merged, I get that @asgeirbirkis's code now gives the following plot using collocation:

![1282-colloc](https://cloud.githubusercontent.com/assets/3380006/8992610/73d8a4e0-36f7-11e5-8dd7-4cc5c9c76df3.png)

This is a marked improvement over the results @asgeirbirkis originally posted and is now much closer to the results using ultraspherical methods, which I get to be

![1282-ultras]

[2015-07-30 19:20] aaustin141 commented on #1355
`epslevel` has now been deactivated internally, and it is not unlikely that we'll end up completely removing it in the future.  Can we close this issue?

[2015-07-30 19:36] aaustin141 commented on #1479
Closed in #1500.

[2015-07-30 19:36] #1479 closed

[2015-07-30 20:40] #1214 closed

[2015-07-31 05:29] #1355 closed

[2015-07-31 05:51] bhashemi commented on #1560
Here is how the first plot looks after the pull request #1567 is commited.
![untitled](https://cloud.githubusercontent.com/assets/9217439/9001498/23215804-3750-11e5-802e-315bb514c516.jpg)

I am not sure whether we are happy with `v(513)` which is still `pi`.

[2015-07-31 09:12] aaustin141 commented on #1560
Hmm... everything's working OK for me, so this is a machine-dependent issue.  We may need to further bump the adjustment to the new `pref.sampleTestTol` in `singfun` by another factor of 10.

[2015-07-31 09:42] kuanxu commented on #1560
@aaustin141 Failure here means sample test is passed, though aliasing takes place. So, I guess sampleTestEps should be tightened, instead of loosened?

[2015-07-31 09:45] aaustin141 commented on #1560
Yep, that's right.  The singfun adjustment to `pref.sampleTestTol` should become tighter.  Perhaps a factor of 10 as I originally suggested is too much, though.  I don't know.  Since the failure is only reproducible by @bhashemi at the moment, we should let him do the adjusting and tell us what works.

[2015-08-01 16:41] bhashemi commented on #1560
To resolve this issue on my machine, I have to decrease the value of `pref.techPrefs.sampleTestEps` in `@singfun/constructSmoothPart.m` from `1e-7` to at least `1e-9`.

[2015-08-05 04:30] davidagross opened #1571 "Chebfun-related project: Chebfun in .NET"
All, I'm writing because I am interested in, for various personal and professional reasons, porting / developing some Chebfun technology in .NET, specifically F#.

I'm hoping that it will simply be a public GitHub project under my account, and that someday it may even make it on the official [Chebfun-related projects](http://www.chebfun.org/about/projects.html) list.

As a curiosity, does anyone h

[2015-08-05 06:09] trefethen commented on #1571
David, that sounds very interesting.  Good luck and by all means let us know when things are developed enough to be pointed to.

Though legally I don't know if we own the name "Chebfun", it would be a bit odd for you to use a name beginning with "chebfun" since that might give the impression of being part of the same enterprise.  At our list of related projects I notice the appearance of pychebfun

[2015-08-05 14:44] davidagross commented on #1571
Thanks @trefethen and I'll definitely let you know when (if) things get there :smile:

Yours is a poignant observation I didn't make. Taking a closer look at other projects it appears a common pattern would yield FsChebfun, so I'll throw that out as new straw name in the case anyone shows great preference or displeasure.

[2015-08-06 22:10] gradywright opened #1573 "Remove chebfun2v dependence from the abstract separableApprox class"
With the merge of #1471, we now have an abstract class `separableApprox` which technologies similar to `chebfun2` can inherit from.   However, there are several places where `separableApprox` inherently relies on `chebfun2v`.  These dependencies should be removed and a new class hierarchy should be developed for vector-valued functions similar to `separableApprox`.  Below is a list of specific dep

[2015-08-10 11:04] asgeirbirkis commented on #684
I agree with @aaustin141 , I think we can regard this issue as being sorted and should reintroduce the example on the website.

[2015-08-10 11:12] asgeirbirkis commented on #1282
Thanks @aaustin141 for looking into this! I'm happy for this issue to be closed.

[2015-08-10 11:12] #1282 closed

[2015-08-10 11:16] asgeirbirkis commented on #685
Sounds like a good plan to me!

[2015-08-12 12:55] gradywright opened #1574 "Non-empty chebfun after subsref"
Consider the following:
[code]
Now suppose we try to remove the first (and only column) of f using `subsref` beyond that column
[code]
I would have expected to get back an empty `chebfun`.   This is what happens for vectors in matlab:
[code]

[2015-08-14 14:53] khelfrich opened #1575 "getting non-square matrices in error"
Hi,

I'm trying to solve a generalized eigenvalue problem Av = eBv where v = [w; b] and both w and b are functions. The script:

[code]

returns the error

[code]

indicating that A and B are not square. They should be. Note the term 0*diff(b,2) in the definition for matrix A. This is done to make sure that b is interpreted as a function and not a scalar (rather then hack in chebop/linearize.m as

[2015-08-16 13:20] trefethen opened #1576 "(small) bug in ROOTS"
Nakatsukasa and Noferini have found the following bug.  The cubic
[code]
correctly has a negative minimum:
[code]
It should have two roots, but it doesn't:
[code]
See [their paper](http://www.keisu.t.u-tokyo.ac.jp/research/techrep/data/2014/METR14-29.pdf) for a discussion of what's going wrong.

[2015-08-16 14:11] aaustin141 commented on #1576
We've visited this issue before:  @ajt60gaibb brought this up sometime during his tenure here.  The issue is that computing the roots with QZ is backward-stable provided the pencil is appropriately scaled, whereas using QR may not be.  See ticket #186 and the discussion there.  Back then, we decided to address this by creating a `qz` option for `roots` and hold off on switching to the QZ algorithm

[2015-08-16 14:14] trefethen commented on #1576
Ah, sorry, I didn't remember about #186.  I will go ahead and close this.  I do not recommend switching to QZ as the default, in the absence of evidence that our rootfinding is running into trouble in practice.  Thanks @aaustin141.

[2015-08-16 14:14] #1576 closed

[2015-08-16 14:34] ajt60gaibb commented on #1576
I personally would like to see `chebfun/roots` use QZ but I think I am alone on that one...

QZ is about 2.5x slower for large matrices, but `chebfun/roots` only computes eigenvalues of very small matrices. Last time I checked there was a 25% slow down in `chebfun/roots` with QZ, #186.  (This may have changed after #241.)

[2015-08-17 14:17] asgeirbirkis commented on #1575
@nickhale @tobydriscoll would you have expected this to work, i.e. should the projection algorithm for linear operators be able to deal with this?

In line 368 of `@linop/eigs`, which is the culprit for crashing and reads
[code]
I have just before the crash
[code]
Also, at that time, we have
[code]
and
[code]

A simpler version of the code that I could get to crash with the same error is:
[code]

[2015-08-17 16:26] asgeirbirkis opened #1577 "Squaring of array valued chebfuns"
While investigating #1020, I believe I've come across the cause of the issue. It's actually nothing to do with eigs, but instead, weird behaviour when squaring of array-valued chebfuns. It seems to work for small dimensions, but not larger, e.g., here it works for 8 columns, but not 10:
[code]
The output is as follows:
[code]

[2015-08-17 17:32] khelfrich commented on #1575
I'm a bit confused by your first question. If you are asking if the problem is correctly posed, the answer is yes. I have solved the same equations using standard finite-difference matrix methods in matlab.

I also tried your slimmed down version of the problem and got the same error again, as did you. It seems to me that the problem has to do with the incorporation of the boundary conditions, tha

[2015-08-18 16:52] nickhale commented on #1577
Line 152 of `@chebtech/times/` should be `mn = size(fc, 1);`, not `mn = length(fc);`.

[2015-08-18 16:59] asgeirbirkis commented on #1577
OK, thanks @nickhale! Running a chebtest on a pull request for this.

[2015-08-18 19:06] #1574 closed

[2015-08-19 17:47] trefethen opened #1580 "proposed 12 new codes for cheb/leg/vals/coeffs conversion"
@nickhale and @ajt60gaibb have developed a remarkable collection of algorithms that speedily convert between four types of vectors of numbers:
[code]
There are 4x3=12 potential conversions here, of which only the Chebcoeffs<->Chebvals pair have well-established standard algorithms (namely the DCT).  Some of the 12 that might seem of questionable end-user value, like Legcoeffs -> Chebvals, turn out

[2015-08-19 17:58] asgeirbirkis commented on #1580
I agree that this would be an impressive functionality to have. One Chebfun design question is where those should live; as they won't take chebfun objects as arguments, they can't go into the `@chebfun` folder without becoming static (i.e. `chebfun.chebvals2legcoeffs()` ). I can think of three options:

1. Putting them as static methods in `@chebfun`.
2. Adding them into the `+cheb` package.
3. Ad

[2015-08-19 21:20] trefethen commented on #1580
Isn't another option to put them in the root directory, like the current `leg2cheb`, `cheb2leg`, `chebsnake`, `scribble`, `cheblogo`, `chebpts` etc.?  It's nicer for users -- and more consistent with Matlab style conventions -- to be able to type `legvals2legpts` than `chebfun.legvals2legpts` or some such.  Moreover, these codes as I see it are "core Chebfun" in the sense that other things should

[2015-08-20 09:24] ajt60gaibb commented on #1564
Should this be closed?

[2015-08-20 09:57] jaurentz commented on #1351
With the recent merger of #1562 feature-standardChop, construction for both approximations and ODEs, as well as simplification have been unified. Some experimenting once again begs the question of whether or not to simplify. Consider the following example:
[code]

At one time I would have thought that this behaviour is acceptable but now I feel that it is somewhat undesirable. Maybe we should be c

[2015-08-20 10:48] asgeirbirkis commented on #1580
Root directory is certainly an option, although wasn't there at some point discussion that we should avoid putting too many files there, so that users wouldn't open it up and be confused with a huge collection of files? Then again, this might be something that we want to draw users' attention to!

Also, what would happen if @ajt60gaibb and @nickhale were able to come up with fast transforms to oth

[2015-08-20 13:07] bhashemi commented on #1564
Thanks @ajt60gaibb . I think there are two different situations here.
1) The `pivotValues` decay slowly in which case, as you said, we might lose some digits of accuracy if we do what I suggested.
2) The `pivotValues` decay fast e.g., there is a gap between the last pivots (like in the above plot) in which case, I guess, not only we don't lose some digits of accuracy but also we construct cleaner

[2015-08-21 00:55] jrus opened #1582 "Clenshaw's algorithm (documentation, optimization)"
Looking at the guts of Chebfun’s implementation, it’s clear that the main way chebtechs are evaluated is via Clenshaw’s algorithm, but in the documentation, website, publications, etc. there’s hardly any mention of it. In the ATAP book, it’s relegated to one brief exercise at the end of chapter 3. By contrast, there’s extensive discussion of the barycentric interpolation formula all over the place

[2015-08-21 18:56] ajt60gaibb commented on #1564
This is a good point, but we are not sure how to improve the code. Close this for now.

[2015-08-21 18:56] #1564 closed

[2015-08-23 12:14] trefethen commented on #1582
Jacob, you raise some interesting issues; let me comment about the history.  Chebfun was born from the realization that almost all the world thought polynomial interpolation was numerically impossible, yet in fact it's as stable an algorithm as any on earth if you use Chebyshev points and the barycentric formula.  In the early years our focus was very much on the barycentric formula.

As time has

[2015-08-24 04:42] jrus commented on #1582
Thanks for the clarification.

This is roughly what I’d gathered from looking around in the code and reading your books/papers.

So is it fair to say that in general working in terms of either values or coefficients will give about equally precise and numerically stable answers, and the choice comes down to “do whichever is more convenient” or maybe “time it and see which one is faster for a parti

[2015-08-24 11:19] nickhale opened #1586 "chebsnake2 is broken"
[code]

[2015-08-25 19:05] nickhale opened #1587 "Incorrect eigenvalues in 'values' modes for 4th order ODE"
The fourth order eigenfunction below seems to be misbehaving in 'values' mode.

[code]
[code]

The coeffs mode is correct. (checked against a MAPLE computation.)
[code]
[code]

![efuncs](https://cloud.githubusercontent.com/assets/2035010/9476358/2a1c17ca-4b64-11e5-8a45-6c036fd8527e.png)

Notice that the 'values' version isn't even symmetric.

[2015-08-28 03:13] jrus commented on #1545
So as a first pass, I think I can compute signed curvature as a function of the parameter, and split at each place where the curvature has an extremum or inflection point. Next, subdivide until the 5th chebyshev coefficient at each segment is less than some threshhold. Finally, plot each segment as a 2 dimensional Bézier which has matching endpoints, derivatives at the endpoints, two equally-long

[2015-09-01 01:24] jrus commented on #1545
It might be worth having doing 2 different things.

 1. Make piecewise (C¹) Hermite cubic polynomial segments parametrized the same as the original Chebfun. It’s pretty easy to test for error on an interval in a fast and parallelizable way (and just subdivide by bisection to get within tolerance) by just taking 8 chebyshev values on an interval, fft to get coefficients, sum the coefficients >4 and

[2015-09-02 02:47] jrus commented on #1545
Okay, I finally found the thread of literature on this topic. It seems to start with
http://www.sciencedirect.com/science/article/pii/0167839688900039

What that paper says is something that seemed fairly obvious to me, but anyway, it says that you can bound the best reparametrized degree k approximation to some original parametric polynomial curve by just looking at the maximum error of an approx

[2015-09-02 12:04] nickhale opened #1589 "Incorrect behaviour from CHEBCOEFFS for 2nd-kind coefficients."
I believe the following should all give the same result. However, those versions which call `chebcoeffs` with the `'kind', 2` flag seems to return incorrect results.
[code]
[code]
[code]
[code]
[code]
[code]

[2015-09-02 13:13] nickhale commented on #1589
My bad - part of the problem is the difference in scaling between chebU and Jacobi (0.5, .5).

See
[code]

However, the third and fourth examples above are still incorrect. (The third because jaccoeffs is calling chebcoeffs and not correcting the scaling. The fourth is presumably some error in truncation location.)

[2015-09-03 12:27] #1577 closed

[2015-09-03 12:28] asgeirbirkis commented on #1020
Closed by #1579.

[2015-09-03 12:28] #1020 closed

[2015-09-04 18:44] #1412 closed

[2015-09-07 12:00] #1518 closed

[2015-09-07 12:01] aaustin141 commented on #1580
Closed in #1588.

[2015-09-07 12:01] #1580 closed

[2015-09-07 12:04] aaustin141 commented on #1521
Closed in #1524.

[2015-09-07 12:04] #1521 closed

[2015-09-07 13:09] aaustin141 commented on #1417
Closed in #1581, but see #1594.

[2015-09-07 13:09] #1417 closed

[2015-09-07 13:47] aaustin141 commented on #1589
Closed in #1590.

[2015-09-07 13:47] #1589 closed

[2015-09-07 14:22] aaustin141 commented on #1531
Can this issue be closed, now that `standardChop()` has been merged?

[2015-09-07 14:51] asgeirbirkis commented on #1531
Thanks @aaustin141 for bringing this up, [line 168](https://github.com/chebfun/chebfun/blob/development/%40linop/linsolve.m#L168) of `linop/linsolve` now gets passed the `cutoff` information like this issue was calling for, so closing it!

[2015-09-07 14:51] #1531 closed

[2015-09-07 17:00] aaustin141 commented on #1460
The issue that was originally posted here has been addressed.  Shall we close this ticket?

[2015-09-07 17:34] aaustin141 commented on #1249
There's something other than `epslevel` that's at work here:  these oddities arise even in the world of #1584.

[2015-09-07 17:38] ajt60gaibb commented on #1249
@bhashemi, do you have an opinion about this?

[2015-09-07 18:03] jrus commented on #1545
Sorry folks, I got sucked down the rabbit hole of reading papers, instead of writing code. Probably skimmed a few hundred.

Anyway, here’s some simple code (just naïve brute force) to recursively subdivide a chebfun until all the segments can be represented by a cubic polynomial to within some threshold:

[code]

Then after we have the knot positions, we can make Bézier segments out of the C1 Herm

[2015-09-07 21:01] bhashemi commented on #1249
I think the desicion which was made and is responsible for these oddities is that: "Chebfun2 should not `simplify` rows and columns at the end of its construction process" which in turn was made to keep Chebfun2s more accurate for some examples. Here is what we see if we do `simplify`:
`>> f3 = simplify(chebfun2(@(x,y) 1./(1+25*x.^2))); length(f3.rows), length(f3.cols)
ans =
   185
ans =
     1
`

[2015-09-07 21:07] ajt60gaibb commented on #1249
Maybe Chebfun2 should simplify somehow at the end of construction?

I cannot remember the examples that are more accurate without simplify, but I do remember seeing that.  I am not sure if it is still true though.

[2015-09-07 21:09] trefethen commented on #1249
My view in general is in favor of simplification.  Chebfun (1,2,3,...) is based on a simple story: we construct a function and then round it to 16-digits.  In my view that story should capture the truth except when there are compelling reasons to make an exception.

[2015-09-07 21:19] ajt60gaibb commented on #1249
I agree. I do not believe there is a compelling reason for an exception here. Though, @bhashemi has more experience with the improved version of the Chebfun2 constructor than me.

I cannot remember the decision: "Chebfun2 should not `simplify` rows and columns at the end of its construction process"

[2015-09-07 21:36] bhashemi commented on #1249
From Chebfun2 paper published in SISC: Remark. We deliberately do not represent each column and row slice as an independent chebfun "with the minimal degree".
This is what I meant by `the desicion`. The paper mentions efficiency (sorry, not accuracy) as the reason to do so.

Anyway, I am also in favor of doing `simplify` at the end of Chebfun2 construction process.

[2015-09-07 21:41] ajt60gaibb commented on #1249
This is very different.  In that remark in the paper we mean that the all the columns (rows) are simplified to the same length. The next sentence in the remark we clarify this:
[code]

Here we are discussing why the columns (rows) seem to not be simplified at all (!)

[2015-09-08 02:26] bhashemi commented on #1249
@ajt60gaibb, here is Line 380 (Phase II) of `@chebfun2/constructor`
`resolvedRows = happinessCheck(rowChebtech,[],sum(rowValues.',2));`
Now consider your first example above:
`f2 = chebfun2(@(x,y) 1./(1+25*x.^2));`
We have `resolvedRows = 1` once `numel(sum(rowValues.',2)) = 257`. We don't care what the cutoff output of happinessCheck is and there is no further chopping. But, if we say
`[resolvedR

[2015-09-08 03:01] jrus commented on #1545
There’s probably a cleaner way to write this, but here’s some code for spitting out bézier control points:

[code]

[2015-09-08 07:46] jrus commented on #1545
Testing if I can embed a SVG directly here in an html image src attribute in a github comment:

<img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE3LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9H

[2015-09-08 08:55] aaustin141 opened #1597 "Guide needs updating re. epslevel removal."
See, e.g., [section 1.2](http://www.chebfun.org/docs/guide/guide01.html#12-constructing-simple-chebfuns).  This is something that's been needed since #1562 went in and will become even more important once #1596 gets merged.  Will be needed for v5.3 but not v5.2.x.

[2015-09-08 11:13] #1331 closed

[2015-09-08 11:13] #1364 closed

[2015-09-08 11:13] #1586 closed

[2015-09-08 11:15] aaustin141 commented on #1436
Closed in 7d9aec93 from #1596.

[2015-09-08 11:15] #1436 closed

[2015-09-08 11:16] aaustin141 commented on #1381
Closed in #1596.

[2015-09-08 11:16] #1381 closed

[2015-09-08 13:10] ajt60gaibb commented on #1249
Yes, I think `simplify` should be called at the end of the constructor like you do in `Chebfun3sTu`.  That seems great.

[2015-09-08 18:38] #1419 closed

[2015-09-08 21:48] asgeirbirkis commented on #1512
On https://github.com/chebfun/chebfun/tree/fix-chebop-shortPulses , this example now runs as follows:
[code]

For some reason, GitHub isn't allowing me to upload a plot of the solution, will try that again later.

[2015-09-08 21:59] asgeirbirkis opened #1600 "Unnecessary call to chebfun/size in fevalColumn"
Looking at the profiler output when studying #1599, I noticed a lot of calls to `chebfun/size` inside `chebfun/feval/fevalColumn`. These are in [line 85](https://github.com/chebfun/chebfun/blob/fix-chebop-shortPulses/%40chebfun/feval.m#L85).

However, we're only really interested in the result of `chebfun/size` with the second argument equal to 2, which is just what `numColumns` returns (and `numC

[2015-09-09 07:04] nickhale commented on #1600
I agree that line 85 can be changed to `numCols = numColumns(f);`.

I don't understand your second question regarding `numFuns`. This method **is** at the `chebfun` level?

[2015-09-09 07:06] nickhale commented on #1600
Probably the
[code]
block can be removed as well (I suspect this was written before we had the `numColumns()` method).

[2015-09-09 08:36] asgeirbirkis commented on #1512
Here's the plot that GitHub wouldn't allow me to upload last night:
![shortpulse](https://cloud.githubusercontent.com/assets/3543429/9757085/3e684938-56d6-11e5-8972-b3996c750dc5.jpg)

[2015-09-09 08:37] nickhale opened #1601 "Remove template 'headers' from CLASSDEF files."
When @aaustin141 and I were removing epslevels, a major source of frustration was the templating in the CLASSDEF files for each of the classes.

Since it's not clear that we gain anything from having these here (the descriptions you see in `>> doc chebfun` appear to be sourced from the m-files themselves, rather than the descriptions in the CLASSDEF), I propose they be removed.

[2015-09-09 08:45] asgeirbirkis commented on #1600
@nickhale yes, we're working at the `chebfun` level, however, the line in question,
[code]
appears inside `columnFeval`. For array-valued chebfuns, isn't `numel(f.funs)` always equal to 1, and for actual quasimatrices, we're already looping through individual `funs` in lines 62-64 of the actual `feval` method:
[code]

If I remove the `;` at the end of line 86, these are the outputs I get from runn

[2015-09-09 08:50] asgeirbirkis commented on #1600
Bahh, I was being stupid here, this is dealing with individual pieces of a chebfun, not columns of a quasimatrix, two many numels going on, so ignore the last comment...

[2015-09-09 09:27] asgeirbirkis commented on #1600
@nickhale yes, it appears that the logic of dealing with transposed chebfuns can be simplified as well, so will include that in an upcoming pull request.

The final thing that I want to address are the repeated `isempty` checks; in `chebfun/feval` for example, we start by checking whether the chebfun is empty (fair enough), but then the isempty check happens again inside `numColumns`, even though

[2015-09-09 09:53] nickhale commented on #1600
I think the problem with isempty checking is far more wide-ranging than just this one instance. I'd suggest leaving that alone for now.

[2015-09-09 09:59] asgeirbirkis commented on #1600
Yeah, that was the conclusion I had come to after digging around the code for the last half an hour or so, these checks are happening all over the place (as we've known for some time), so better probably do deal with them properly rather than patching it for individual files.

[2015-09-09 12:38] asgeirbirkis commented on #1601
Is it possible to impose properties such as `hidden` and `private` outside the classdef files, or would you still include them in the classdef files?

I hadn't realised that `doc` actually grabs info from the m-files themselves, makes listing the standard public, non-hidden methods in the classdef files a bit less useful.

[2015-09-09 13:17] aaustin141 commented on #1601
I think you're right that we can't impose method attributes outside of the classdef files.  Nevertheless, I still think it would be a good idea to get rid of all the declarations of the plain public methods with no special attributes.  The confusion that results when the classdef-declared prototype and the M-file declared prototype are out-of-sync is annoying, since the error messages you get when

[2015-09-09 13:18] nickhale commented on #1601
I think you still need to declare such properties inside the CLASSDEF file. However, it should suffice to declare the template as
[code]
in the CLASSDEF.

[2015-09-09 13:31] asgeirbirkis commented on #1601
Yes, I myself have run into the issue @aaustin141 describes, so I support this proposal; if I want to look at methods for a class, I usually go `>> methods chebfun` rather than looking into the classdef file.

[2015-09-09 14:27] nickhale commented on #1545
Hi @jrus. This looks neat!

I took a quick look at your code and the only (utterly trivial) comment I have is that you could use `unitcheb9pts = chebpts(9, [0, 1]);` rather than doing the scaling manually.

I tried to rummage through MATLAB's `contour` method, but it seems the part that determines what levels to use is buried in a .p file. (I didn't even realise they were still using those!). Pres

[2015-09-09 17:54] gradywright commented on #1600
This is a bit tangent to the issue raised but has to deal with `columnFeval`.  There is a performance hit with the following code when `numFuns=1`.

[code]
The hit comes from evaluating at many points over the domain and having to handle a point at the right end completely separately from the rest of the points.  This results in two calls to `feval` at the `tech` level when really only one is nece

[2015-09-09 20:27] jrus commented on #1600
@gradywright seems also worth making the extrapolated parts run at the same time as the left and right segments, e.g.:

[code]

[2015-09-10 02:13] jrus opened #1605 "coding conventions for whitespace/commas in arrays"
Looking at [wiki/Coding-style-conventions](https://github.com/chebfun/chebfun/wiki/Coding-style-conventions) there’s a suggestion to format arrays like:
[code]

But reading the Chebfun codebase, it seems to be just as common (if not more common) to instead write:
[code]
or
[code]
and I also see some with spaces before and after semicolons like:
[code]

Should style be made consistent throughout (p

[2015-09-10 07:09] davidagross commented on #1601
I second @nickhale here, that you do still need them in the CLASSDEF.  However, I believe that if you use `varargin` and `varargout` to obfuscate from MATLAB `nargin` and `nargout` (so that it's never out of sync with the signature in the M-file) then tab-completion at the MATLAB command line and in the editor "is broken" in that it will just show `functionName(...)` instead of the named function

[2015-09-10 07:28] nickhale commented on #1600
I just pushed to the `fix-simplify-feval-logic` incorporating the suggestions of @gradywright and @jrus. It didn't really have much of an effect on runtime of `chebtest`, but since it makes the single fun case more transparent, I suggest we keep it.

@asgeirbirkis - if you're happy with these modifications then I'll merge to PR.

[2015-09-10 07:38] nickhale commented on #1605
I think we decided that this particular convention could be left at the discretion of the author. I've updated the wiki accordingly.

[2015-09-10 07:38] #1605 closed

[2015-09-10 07:51] jrus commented on #1605
What about “Commas and semicolons will never be preceded by a space” and “Elements of vectors, matrices or cell arrays will always be separated by commas”?

[2015-09-10 07:52] davidagross commented on #1349
Just chiming in again to understand if this is a really critical error in my understanding of periodic domains and coefficient truncation or in the way coefficients are shifted when we truncate a `trigfun`.

[2015-09-10 08:08] jrus commented on #1600
@nickhale [your version](https://github.com/chebfun/chebfun/commit/0481f28ba6ade30eb0f3985056a0ee9975bfa82a) still is going to call feval separately for the last interval and the far right endpoint whenever there are at least 2 funs, and also is going to separately call feval on the first/last interval and any points extrapolated to the left/right (respectively). In general probably not a big perf

[2015-09-10 08:16] nickhale commented on #1600
@jrus - If you want to be super picky; when x is real (which is the 90% case), then the evaluations at breakpoints (including end points) are not used at all, since these are extracted from `f.pointValues`.

However, dealing with all these different cases will probably (a) have very little performance gain, (b) complicate the code significantly.

[2015-09-10 08:20] jrus commented on #1600
Here’s a simpler one:
[code]

[2015-09-10 08:29] nickhale commented on #1600
OK, that could work. I've pushed an implementation.

[2015-09-10 08:47] jrus commented on #1600
(Just went to walk the dog.)

Actually, thinking about it, if the domain gets extended like that, it’s probably not worth special casing the one fun case anymore.

If it’s just:
[code]
...then when there’s only one fun, there will still be a vacuous `(x >= -Inf) & (x < Inf)` check, but I doubt it’s ever a bottleneck.

[2015-09-10 09:50] asgeirbirkis commented on #1600
@nickhale , @jrus with your modifications, there is actually another simplification possible, at least in the case of the current state of the code (1349b2a).

The call to `numColumns` is only necessary to initalize the size of the output matrix, so can be moved to the inside of the else statement, line 117. Line 116 could then become
[code]
I'm running a chebtest on this now, will push it if it p

[2015-09-10 09:57] nickhale commented on #1600
@jrus - I'd prefer to leave the one fun case as separate (keep the simple things simple).

@asgeirbirkis - I also considered this, but doesn't `numCols` also appear on line 168?

[2015-09-10 10:01] asgeirbirkis commented on #1600
@nickhale yes, hence in the one fun case, we'll read it from the size of the output -- it should be the same as the number of columns from evaluating the fun.

Just finished running `chebtest('chebfun')` with this modification, it got rid of 15000 calls to `chebfun.numColumns` !

[2015-09-10 11:42] jrus commented on #1600
- I think the lrFlag thing is pretty unclear. It would be better to just have separate scalar values leftFlag and rightFlag, instead of checking the super obscure `if ( lrFlag(1) || lrFlag(3) ) % left` which takes reading way up the code to understand.

- This code is doing a really wonky extra loop. There’s no reason for the internal loop which doesn’t depend at all on k to be repeated k times:

[2015-09-10 12:13] jrus commented on #1600
Is there any way to vectorize a call to `get(funs{j}, 'rval')`, so that it will return an array of rvals for a bunch of different values of `j`? I’m not all that familiar with matlab's cell/array distinction or all the relevant functions in the standard library.